{% extends "base.html" %}
{% import 'functions.html' as f %}
{% block title %}About{% endblock %}

{% block heading %}
<h1>About</h1>
{% endblock %}

{% block content %}
<main class="page-narrow">
  <h1>About</h1>
  <div>
    <section>
      <h3>This website</h3>
      <p>This is a personal project.</p>
      <p>As a long-time bus user, I have often been frustrated by how difficult it is to plan around bus timetables and the lack of access to live, up to date information for buses, especially on mobile. I created this website to gain experience in building websites and to provide a service.</p>
      <p>GitHub repository: <a href="https://github.com/macph/nextbus">github.com/macph/nextbus</a>
    </section>
    <section>
      <h3>Data sources</h3>
      <ul class="dashed-list">
        <li><a href="https://data.gov.uk/dataset/3b1766bf-04a3-44f5-bea9-5c74cf002e1d/national-public-transport-gazetteer-nptg">National Passenger Transport Gazeetter</a>&mdash;region, administrative area and locality data. Published by the DfT and licensed under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence (OGL)</a>.</li>
        <li><a href="https://data.gov.uk/dataset/ff93ffc1-6656-47d8-9155-85ea0b8f2251/national-public-transport-access-nodes-naptan">National Passenger Transport Access Nodes</a>&mdash;stop point data. Published by the DfT and licensed under the OGL.</li>
        <li><a href="https://opendata.camden.gov.uk/Maps/National-Statistics-Postcode-Lookup-UK/tr8t-gqz7">National Statistics Postcode Lookup</a>&mdash;postcode data. Published by Camden Open Data and licensed under the OGL. Contains OS data © crown copyright and database right 2018.</li>
        <li><a href="https://www.travelinedata.org.uk/traveline-open-data/transport-operations/about-2/">National Operator Code</a>&mdash;service operator data. Published by Traveline.</li>
        <li><a href="https://www.travelinedata.org.uk/traveline-open-data/traveline-national-dataset/">Traveline National Dataset</a>&mdash;service data. Published by Traveline and licensed under the OGL.</li>
      </ul>
      <p><a href="https://transportapi.com">Transport API</a> is used to obtain live bus stop data.</p>
    </section>
  </div>
</main>
{% endblock %}
