<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#191970">
        <link rel="stylesheet" type=text/css href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
        <link rel="stylesheet" type=text/css href="https://use.typekit.net/mwf5bfg.css">
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}"/>
        <script type="text/javascript" src="{{ url_for('static', filename='nextbus.js') }}"></script>
        <title>{% block title %}{% endblock %} - NextBus</title>
        {% endblock %}
    </head>
    <body>
        <div id="divHeaderOuter">
        </div>
        <div id="divHeader">
            <header>
                {% block header %}
                <img src="{{ url_for('static', filename='img/bus-white.svg') }}" width="42px"> <a href="{{ url_for('page_ns.index') }}">nextbus</a>
                {% endblock %}
            </header>
        </div>
        <div id="divHeadingOuter">
        </div>
        <div id="divHeading">
            <nav>
                {% block nav %}{% endblock %}
            </nav>
            {% block heading %}{% endblock %}
        </div>
        <div id="divContentOuter">
        </div>
        <div id="divContent">
            {% block content %}{% endblock %}
        </div>
        <div id="divFooterOuter">
        </div>
        <div id=divFooter>
            <footer>
                {% block footer %}
                &copy; Ewan Macpherson, 2017. <a href="{{ url_for('page_ns.about') }}">About this website</a>
                {% endblock %}
            </footer>
        </div>
    </body>
</html>
