{% import 'functions.html' as f %}
{% extends "base.html" %}
{% block title %}{{ district.district_name }} district{% endblock %}
{% block content %}
    {% set area = district.admin_area %}
    {% set region = area.region %}
    <nav>
        <ul class="breadcrumbs">
            <li><a href="{{ url_for('list_regions', _anchor=region.region_code) }}">{{ region.region_name }}</a></li>
            <li><a href="{{ url_for('list_in_area', area_code=area.admin_area_code) }}">{{ area.area_name }}</a></li>
            <li>{{ district.district_name }}</li>
        </ul>
    </nav>
    <h1>Localities in {{ district.district_name }}</h1>
    {{ f.print_localities(district.localities) }}
{% endblock %}