{% extends "base.html" %}
{% import 'functions.html' as f %}
{% block title %}{{ district.name }}{% endblock %}

{% block content %}
<nav>
  <ul class="breadcrumbs breadcrumbs-trailing">
    <li><a href="{{ url_for('page.list_regions') }}">All regions</a></li>
    <li><a href="{{ url_for('page.list_in_region', region_code=district.admin_area.region.code) }}">{{ district.admin_area.region.name }}</a></li>
  </ul>
</nav>
<main>
  <h1>{{ district.name }}</h1>
  <section>
    <h2>Places</h2>
    {% if localities|length > 1 -%}
    {%- for name, group in localities|dictsort %}
    <h3 id="{{ name }}">{{ name }}</h3>
    {% call(l) f.print_list(group, 'list-places') -%}
    <a class="item item-place" href="{{ url_for('page.list_in_locality', locality_code=l.code) }}">{{ l.name }}</a>
    {%- endcall %}
    {%- endfor %}
    {%- elif localities -%}
    {%- for _, group in localities.items() -%}
    {% call(l) f.print_list(group, 'list-places') -%}
    <a class="item item-place" href="{{ url_for('page.list_in_locality', locality_code=l.code) }}">{{ l.name }}</a>
    {%- endcall %}
    {%- endfor %}
    {%- else -%}
    <p>No places found.</p>
    {%- endif %}
  </section>
</main>
{% endblock %}
