{% macro stop_name(stop) -%}
{{ stop.desc_common if stop.desc_short is none else stop.desc_short }}
{%- endmacro %}

{% macro stop_indicator(stop) -%}
{{ stop.desc_indicator if stop.desc_indicator is not none }}
{%- endmacro %}

{% macro stop_full_name(stop) -%}
{{ stop_name(stop) }}{{ " (%s)"|format(stop.desc_indicator) if stop.desc_indicator is not none }}
{%- endmacro %}

{% macro resize_indicator(class_name) %}
<script>
    resizeInd("{{ class_name }}");
</script>
{%- endmacro %}

{% macro print_stops(list, count=true) -%}
{% if list|length > 0 %}
<div class="list-stops-dist">
    {% for stop in list %}
    <a href="{{ url_for('page.stop_atco', atco_code=stop.atco_code) }}" class=row-stop-dist>
        <div class="item-stop-ind">{{ stop_indicator(stop) }}</div>
        <div class="item-stop-name">{{ stop_name(stop) }}</div>
    </a>
    {% endfor %}
</div>
{{ resize_indicator("item-stop-ind") }}
{% else %}
<p>No stops found.</p>
{% endif %}
{%- endmacro %}

{% macro print_stops_dist(list) -%}
{% if list|length > 0 %}
<div class="list-stops-dist">
    {% for stop, distance in list %}
    <a href="{{ url_for('page.stop_atco', atco_code=stop.atco_code) }}" class=row-stop-dist>
        <div class="item-stop-ind">{{ stop_indicator(stop) }}</div>
        <div class="item-stop-name">{{ stop_name(stop) }}</div>
        <div class="item-stop-dist">{{ '%.0f m'|format(distance) }}</div>
    </a>
    {% endfor %}
</div>
{{ resize_indicator("item-stop-ind") }}
{% else %}
<p>No stops nearby.</p>
{% endif %}
{%- endmacro %}

{% macro print_areas(list) -%}
{% if list|length > 0 %}
<div class="list-places">
    {% for area in list|sort(attribute='area_name') %}
    <a class="item-place" href="{{ url_for('page.list_in_area', area_code=area.admin_area_code) }}">{{ area.area_name }}</a>
    {% endfor %}
</div>
{% else %}
<p>No areas found.</p>
{% endif %}
{%- endmacro %}

{% macro print_districts(list) -%}
{% if list|length > 0 %}
<div class="list-places">
    {% for district in list|sort(attribute='district_name') %}
    <a class="item-place" href="{{ url_for('page.list_in_district', district_code=district.nptg_district_code) }}">{{ district.district_name }}</a>
    {% endfor %}
</div>
{% else %}
<p>No districts found.</p>
{% endif %}
{%- endmacro %}

{% macro print_localities(list) -%}
{% if list|length > 0 %}
<div class="list-places">
    {% for locality in list|sort(attribute='locality_name') %}
    <a class="item-place" href="{{ url_for('page.list_in_locality', locality_code=locality.nptg_locality_code) }}">{{ locality.locality_name }}</a>
    {% endfor %}
</div>
{% else %}
<p>No localitites found.</p>
{% endif %}
{%- endmacro %}