{% extends 'base.html' %}
{% set body = "body-narrow body-index" %}
{% set hide_map = true %}

{% block outer_title %}nextbus{% endblock %}

{% block header -%}
<header>
  <a href="{{ url_for('page.index') }}">nxb</a>
  {% if config.get('GEOLOCATION_ENABLED', false) %}<a href="{{ url_for('page.find_near_location') }}" title="Find stops nearby">Nearby</a>{% endif %}
  <a href="{{ url_for('page.list_regions') }}" title="Browse regions">Regions</a>
  <a href="{{ url_for('page.show_map') }}" title="View stops on map">Map</a>
</header>
{% endblock %}

{% block content %}
<main>
  <h1 class="text-middle">Live times in Great&nbsp;Britain</h1>
  <div>
    <section>
      <form class="form" action="{{ g.action }}" method="post" name="search" autocomplete="off">
        {{ g.form.hidden_tag() }}
        <input type="search" name="search" placeholder="Find a stop..." aria-label="Find a bus stop" required>
        <button type="submit" name="submit" title="Search" value="1">Search</button>
        <button id="help-open" type="button" title="Help with searching">?</button>
      </form>
    </section>
    <section>
      {% if starred|length > 0 -%}
      <div class="h3-inline">
        <h3>Starred stops</h3>
      </div>
      {% call(s) f.print_list(starred, class='list-actions', name='starred-list') -%}
      <a href="{{ url_for('page.stop_atco', atco_code=s.atco_code) }}" data-smscode="{{ s.naptan_code }}" class="item item-stop item-multiline">
        <span>
          {{ f.print_stop_indicator(s) }}
          <span class="item-label">{{ s.name }}</span>
        </span>
        <p>{{ [s.street, s.locality.name]|join(', ') if s.street else s.locality.name }}</p>
      </a>
      <a href="{{ url_for('page.show_map_stop', atco_code=s.atco_code) }}" title="Go to map for {{ s.long_name }}" class="item item-action">Map</a>
      {%- endcall %}
      {%- else -%}
      <p class="text-middle">You can have your favourite stops here! Just find them and star them.</p>
      {%- endif %}
    </section>
  </div>
</main>
{% endblock %}

{% block overlay %}
<div class="overlay" id="overlay-help">
  <div class="overlay-content overlay-content-dialog">
    <button id="help-close" title="Close this dialog and go back" class="overlay-button">Close</button>
    <h3>What can I search?</h3>
    <p>A <strong>SMS code</strong>&mdash;every stop in Great Britain has a numeric or alphabetic code which should be visible on the bus stop sign or on the information panel.</p>
    <p>A <strong>postcode</strong>&mdash;you can find stops within 500 metres around a postcode.</p>
    <p><strong>Stop names, streets and areas</strong>&mdash;you can add place, town or city names to help narrow down your search.</p>
    <p><strong>Services</strong>&mdash;you can add place names to find lines covering these areas.</p>
    <p>You can also quote phrases or exclude words, like for example <strong>"Oxford&nbsp;Street"&nbsp;-London</strong>.</p>
  </div>
</div>
<script>
let helpOverlay;
window.addEventListener('load', function() {
    helpOverlay = new Overlay('overlay-help', 'help-close');
    document.getElementById('help-open').onclick = function() {
        helpOverlay.open();
    };
    document.getElementById('help-close').onclick = function() {
        helpOverlay.close();
    };
});
</script>
{% endblock %}

{% block script %}
<script>
let list, starredUI;
window.addEventListener('load', function() {
    list = document.getElementById('starred-list');
    if (list == null) {
        return;
    }
    resizeIndicator('.indicator');
    starredUI = new StarredStopList({list: list, starred: starred});
    let heading = document.querySelector('.h3-inline');
    let actions = element('div',
        {className: 'actions'},
        starredUI.deleteButton,
        starredUI.toggleButton
    );
    heading.appendChild(actions);
});
</script>
{% endblock %}
