{% extends 'base.html' %}
{% import 'functions.html' as f %}

{% block title %}Stops nearby{% endblock %}

{% block content %}
<main>
  <h1>Stops nearby</h1>
  <section>
    {% if list_stops is none -%}
    <h2 id="geoH">Getting your location...</h2>
    <p id="geoM"></p>
    {%- elif list_stops|length > 0 %}
    <div class="h2-inline">
      <h2>Stops</h2>
      <p><a class="action" href="{{ url_for('page.show_map', coords=(latitude, longitude, 16)) }}">Map</a></p>
    </div>
    {% call(s) f.print_list(list_stops, name='list-stops') -%}
    <a href="{{ url_for('page.stop_atco', atco_code=s.atco_code) }}" data-code="{{ s.atco_code }}" class="item item-stop item-multiline">
      <span>
        {{ f.print_stop_indicator(s) }}
        <span class="item-label">{{ s.name }}{% if s.street and s.street not in s.name and s.name not in s.street %}, <span class="item-label-small">{{ s.street }}</span>{% endif %}</span>
        <span class="item-label item-label-distance">{{ '%.0f m'|format(s.distance) }}</span>
      </span>
      {% if s.lines -%}
      <p>
        {%- for l in s.lines %}
        <span class="line-outer line-outer-inline">
          <span class="line {{ 'area-%s'|format(s.admin_area_ref) }}">{{ l }}</span>
        </span>
        {%- endfor %}
      </p>
      {%- endif %}
    </a>
    {%- endcall %}
    {%- else -%}
    <h2>Stops</h2>
    <p>No stops found nearby.</p>
    {%- endif %}
  </section>
</main>
{% endblock %}

{% block script %}
{% if list_stops is none -%}
<script>
let heading = document.getElementById('geoH'),
    message = document.getElementById('geoM');
let locationURL = "{{ url_for('page.find_near_location') }}";
window.addEventListener('load', function() {
    if (!navigator.geolocation) {
        heading.textContent = 'Error';
        message.textContent = 'Your browser does not support geolocation. Try using the maps or ' +
            'search with a postcode to find stops nearby.';
    }
    navigator.geolocation.getCurrentPosition(function(position) {
        let latitude = position.coords.latitude.toFixed(6);
        let longitude = position.coords.longitude.toFixed(6);
        heading.textContent = 'Redirecting...';
        window.location.href = locationURL + latitude + ',' + longitude;
    }, function(err) {
        console.debug('Geolocation error: ' + err);
        heading.textContent = 'Error';
        message.textContent = 'Unable to find your location. Try using the maps or ' +
            'search with a postcode to find stops nearby.';
    });
});
</script>
{%- else -%}
<script>
let fl;
let list = document.getElementById('list-stops');
let groups = {{ groups|tojson }};
window.addEventListener('load', function() {
    resizeIndicator('.indicator');
    if (list != null && (fl = stopServiceFilter(list, groups)) != null) {
        let main = document.querySelector('main');
        let first = main.querySelector('section');
        let section = element('section', fl.container);
        main.insertBefore(section, first);
        fl.menu.updateHeight();
    }
});
</script>
{%- endif %}
{% endblock %}
