{% extends 'base.html' %}
{% import 'functions.html' as f %}

{% block title %}Stops nearby{% endblock %}

{% block heading %}
<div class="heading-with-buttons">
    <h1>Stops nearby</h1>
    {% if list_stops is not none %}
    <div class="buttons">
        <a class="button button--action" href="{{ url_for('page.show_map', coords=(latitude, longitude, 16)) }}" title="View on map">
            <img src="{{ url_for('static', filename='icons/sharp-place-24px.svg') }}" alt="Map">
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column-1">
        <section class="card">
            {{ f.search_form() }}
        </section>
        <section class="card">
            <h2>Stops</h2>
            {% if list_stops is none %}
            <p>Searching for stops nearby...</p>
            {% elif list_stops|length > 0 %}
            {% call(s) f.print_list(list_stops) %}
            <a href="{{ url_for('page.stop_atco', atco_code=s.atco_code) }}" class="item item--stop--multiline">
                <div class="item--stop">
                    {{ f.print_stop_indicator(s) }}
                    <span class="item__label">{{ s.name }}{% if s.street and s.street not in s.name and s.name not in s.street %}, {{ s.street }}{% endif %}</span>
                    <span class="item__dist">{{ '%.0f m'|format(s.distance) }}</span>
                </div>
                {% if s.lines %}
                <p>
                {% for l in s.lines %}
                <span class="line line--inline">
                    <span class="line__inner {{ 'area-%s'|format(s.admin_area_ref) }}">
                        <span class="line__text">{{ l }}</span>
                    </span>
                </span>
                {% endfor %}
                </p>
                {% endif %}
            </a>
            {% endcall %}
            {% else %}
            <p>No stops found nearby.</p>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}

{% block script %}
{% if list_stops is none %}
<script>
    if (!navigator.geolocation) {
        console.debug('Browser does not support geolocation.');
    }
    let locationURL = "{{ url_for('page.find_near_location') }}";
    navigator.geolocation.getCurrentPosition(function(position) {
        let latitude = position.coords.latitude.toFixed(6);
        let longitude = position.coords.longitude.toFixed(6);
        console.debug('Current coordinates (' + latitude + ', ' + longitude + ')');
        window.location.href = locationURL + latitude + ',' + longitude;
    }, function(err) {
        console.debug('Geolocation error: ' + err);
    });
</script>
{% endif %}
<script>
    resizeIndicator('indicator');
</script>
{% endblock %}
