{% extends "base.html" %}
{% import 'functions.html' as f %}
{% set name = stop.long_name if stop else ('Service %s'|format(service.description) if service else none) %}
{% block title %}Map{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
{{ super() }}
{% endblock %}

{% block outer_header %}
{{ f.add_search_bar(map=false) }}
{% endblock %}

{% block main %}
<main class="content content--map">
    <div id="map" class="full-map"></div>
    <div class="map-panel">
        <div id="panel-content" class="map-panel__content">
            <div class="heading heading--panel">
                <h2 id="panel-heading">Loading map...</h2>
            </div>
        </div>
        <div class="map-panel__footer">
            <footer class="footer footer--panel">
                <div>
                    <p class="footer__text">
                        &copy; Ewan Macpherson and data sources, 2017&ndash;19. <a href="{{ url_for('page.about') }}">About this website</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</main>
{% endblock %}

{% block outer_footer %}
{% endblock %}

{% block script %}
<script>
    const BUS_SVG = "{{ url_for('static', filename='img/bus-white.svg') }}";
    const TRAM_SVG = "{{ url_for('static', filename='img/tram-white.svg') }}";
    const LIVE_URL = "{{ url_for('api.stop_get_times', atco_code='') }}";
    const MAP_URL = "{{ url_for('page.show_map') }}";
    const STOP_URL = "{{ url_for('api.get_stop', atco_code='') }}";
    const STOP_PAGE_URL = "{{ url_for('page.stop_atco', atco_code='') }}";
    const TILE_URL = "{{ url_for('api.get_stops_tile', coord='') }}";
    const STARRED_URL = "{{ url_for('api.starred') }}";
    const ROUTE_URL = "{{ url_for('api.get_service_route', service_id='') }}";
    const TIMETABLE_URL = "{{ url_for('page.service_timetable', service_id='') }}";

    let map = new StopMap(
        'map',
        'panel-content',
        {{ ('stops' in session)|tojson }},
        {{ config.get('GEOLOCATION_ENABLED')|tojson }}
    );
    let options = {};
    {% if stop -%}
    options.stop = '{{ stop.atco_code }}';
    {%- endif %}
    {% if latitude and longitude and zoom -%}
    options.latitude = {{ latitude }};
    options.longitude = {{ longitude }};
    options.zoom = {{ zoom }};
    {%- endif %}
    {% if service -%}
    options.service = {{ service.id }};
    options.reverse = {{ reverse|tojson }};
    {%- endif %}
    map.init(options);
</script>
{% endblock %}
