{% extends "base.html" %}
{% import 'functions.html' as f %}
{% block title %}Map{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
{% endblock %}

{% block outer_header %}
{{ f.add_search_bar(map=false) }}
{% endblock %}

{% block main %}
<main class="content content--map">
    <div id="map" class="full-map"></div>
    <div class="map-panel">
        <div id="panel-content" class="map-panel__content">
            <div id="panel-heading-outer" class="heading heading--panel">
                <h1 id="panel-heading">Loading map...</h1>
            </div>
        </div>
        <div class="map-panel__footer">
            <footer class="footer footer--panel">
                <div>
                    <p class="footer__text">
                        A <a href="https://leafletjs.com">Leaflet map</a>. Data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a> and imagery © <a href="http://mapbox.com">Mapbox</a>.
                    </p>
                    <p class="footer__text">
                        &copy; Ewan Macpherson and data sources, 2017&ndash;18. <a href="{{ url_for('page.about') }}">About this website</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</main>
{% endblock %}

{% block outer_footer %}
{% endblock %}

{% block script %}
<script>
    const BUS_SVG = "{{ url_for('static', filename='img/bus-white.svg') }}";
    const TRAM_SVG = "{{ url_for('static', filename='img/tram-white.svg') }}";
    const LIVE_URL = "{{ url_for('api.stop_get_times', atco_code='') }}";
    const MAP_URL = "{{ url_for('page.show_map') }}";
    const STOP_URL = "{{ url_for('page.stop_atco', atco_code='') }}";
    const TILE_URL = "{{ url_for('api.get_stops_tile', coord='') }}";
    const STARRED_URL = "{{ url_for('api.starred') }}";
    const ROUTE_URL = "{{ url_for('api.get_service_route', service_id='') }}";

    let map = new StopMap(
        '{{ config.get("MAPBOX_APP_TOKEN") }}',
        'map',
        'panel-content',
        {{ ('stops' in session)|tojson }}
    );
    let options = {};
    {% if stop -%}
    options.stop = {{ stop.to_geojson()|tojson }};
    {%- endif %}
    {% if latitude and longitude and zoom -%}
    options.latitude = {{ latitude }};
    options.longitude = {{ longitude }};
    options.zoom = {{ zoom }};
    {%- endif %}
    {% if service_id -%}
    options.service = {{ service_id }};
    options.reverse = {{ reverse|tojson }};
    {%- endif %}
    map.init(options);
</script>
{% endblock %}
