{% extends "base.html" %}
{% import 'functions.html' as f %}
{% set body="body-map" %}

{% block title %}Map{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
{{ super() }}
{% endblock %}

{% block content %}
<div id="map" class="map"></div>
<div class="map-panel">
  <main id="map-panel-content">
    <h2>Loading map...</h2>
  </main>
  {{ f.footer() }}
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
<script>
URL.LIVE = "{{ url_for('api.stop_get_times', atco_code='') }}";
URL.STOP = "{{ url_for('api.get_stop', atco_code='') }}";
URL.TILE = "{{ url_for('api.get_stops_tile', coord='') }}";
URL.ROUTE = "{{ url_for('api.get_service_route', service_code='') }}";
URL.TIMETABLE = "{{ url_for('page.service_timetable', service_code='') }}";

let map;
let useGeolocation = {{ config.get('GEOLOCATION_ENABLED', false)|tojson }};
let options = {};
{% if stop -%}
options.stop = '{{ stop.atco_code }}';
{%- endif %}
{% if latitude and longitude and zoom -%}
options.latitude = {{ latitude }};
options.longitude = {{ longitude }};
options.zoom = {{ zoom }};
{%- endif %}
{% if service -%}
options.service = '{{ service.code }}';
options.reverse = {{ reverse|tojson }};
{%- endif %}

window.addEventListener('load', function() {
    map = new StopMap(
        'map',
        'map-panel-content',
        starred,
        starredList,
        useGeolocation
    );
    starredList.map = map;
    map.init(options);
});
</script>
{% endblock %}
