{% extends 'base.html' %}
{% import 'functions.html' as f %}
{% set body = 'body-narrow' %}

{% block title %}Welp, a 404.{% endblock %}

{% block content %}
<main>
  <h1>404 — Page not found</h1>
  <div>
    <section>
        {% if message %}<p>{{ message }}</p>{% endif %}
        <p>If you typed in the address by hand, or copied and pasted it, make sure you have entered the address in full and there are no typos.</p>
        <p>You can try searching or <a href="{{ url_for('page.index') }}">go back to the home page.</a></p>
    </section>
  </div>
</main>
{% endblock %}
