{% import 'functions.html' as f %}
{% extends "base.html" %}
{% block title %}{{ locality.name }}{% endblock %}

{% block nav %}
<ul class="breadcrumbs">
    <li><a href="{{ url_for('page.list_regions') }}">All regions</a></li>
    <li><a href="{{ url_for('page.list_in_region', region_code=locality.admin_area.region.code) }}">{{ locality.admin_area.region.name }}</a></li>
    <li><a href="{{ url_for('page.list_in_area', area_code=locality.admin_area.code) }}">{{ locality.admin_area.name }}</a></li>
    {% if locality.district is not none %}
    <li><a href="{{ url_for('page.list_in_district', district_code=locality.district.code) }}">{{ locality.district.name }}</a></li>
    {% endif %}
    <li>{{ locality.name }}</li>
</ul>
{% endblock %}

{% block heading %}
<h1>{{ locality.name }}, {{ locality.district.name if locality.district is not none else locality.admin_area.name }}</h1>
{% endblock %}

{% block content %}
{% for letter, group in stops|dictsort %}
<h2 id="{{ letter }}">{{ letter }}</h2>
{% if group|length > 0 %}
<div class="list list-stops">
    {% for stop in group %}
    {% if stop.table == 'stop_point' %}
    <a href="{{ url_for('page.stop_atco', atco_code=stop.code) }}" class="item-stop">
        <div class="indicator stop-ind area-color-{{ stop.code[:3] }}"><span>{{ stop.ind }}</span></div>
        <div class="stop-label">{{ stop.name }}</div>
    </a>
    {% elif stop.table == 'stop_area' %}
    <a href="{{ url_for('page.stop_area', stop_area_code=stop.code) }}" class="item-stop">
        <div class="indicator stop-area-ind area-color-{{ stop.code[:3] }}"><span>{{ stop.ind }}</span></div>
        <div class="stop-label">{{ stop.name }}</div>
    </a>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<p>No stops found.</p>
{% endif %}
{% endfor %}
{{ f.resize_indicator("stop-ind") }}
{{ f.resize_indicator("stop-area-ind", true) }}
{% endblock %}