{% extends 'base.html' %}
{% import 'functions.html' as f %}

{% set area_name = locality.district.name|default(locality.admin_area.name) %}
{% set place_name = (locality.name + ', ' + area_name) if locality.name != area_name else locality.name %}
{% block title %}{{ place_name }}{% endblock %}

{% macro print_items(group) -%}
{% call(s) f.print_list(group, 'list-stops') -%}
{% if s.table_name == 'stop_point' -%}
<a href="{{ url_for('page.stop_atco', atco_code=s.code) }}" class="item item-stop">
  {{ f.print_stop_indicator(s.short_ind, s.stop_type, s.admin_area_ref) }}
  <span class="item-label">{{ s.name }}</span>
</a>
{%- elif s.table_name == 'stop_area' -%}
<a href="{{ url_for('page.stop_area', stop_area_code=s.code) }}" class="item item-stop">
  {{ f.print_stop_indicator(s.short_ind, s.stop_type, s.admin_area_ref, reverse=true) }}
  <span class="item-label">{{ s.name }}</span>
</a>
{%- endif %}
{%- endcall %}
{%- endmacro %}

{% block content %}
<nav>
  <ul class="breadcrumbs breadcrumbs-trailing">
    <li><a href="{{ url_for('page.list_regions') }}">All regions</a></li>
    {% if locality.district is not none %}
    <li><a href="{{ url_for('page.list_in_district', district_code=locality.district.code) }}">{{ locality.district.name }}</a></li>
    {% else %}
    <li><a href="{{ url_for('page.list_in_area', area_code=locality.admin_area.code) }}">{{ locality.admin_area.name }}</a></li>
    {% endif %}
  </ul>
</nav>
<main>
  <h1>{{ place_name }}</h1>
  <section>
    <div class="h2-inline">
      <h2>Stops</h2>
      <p>
        <a class="action" href="{{ url_for('page.show_map', coords=(locality.latitude, locality.longitude, 16)) }}">Map</a>
        {% if grouped %}<a class="action" href="?group=false">Ungroup stops</a>{% elif grouped is not none %}<a class="action" href="?group=true">Group stops</a>{% endif %}
      </p>
    </div>
    {% if stops|length > 1 -%}
    {%- for name, group in stops|dictsort %}
    <h3 id="{{ name }}">{{ name }}</h3>
    {{ print_items(group) }}
    {%- endfor %}
    {%- elif stops -%}
    {%- for _, group in stops.items() %}
    {{ print_items(group) }}
    {%- endfor %}
    {%- else -%}
    <p>No bus stops found.</p>
    {%- endif %}
  </section>
</main>
{% endblock %}

{% block script %}
<script>
window.addEventListener('load', function() {
    resizeIndicator('.indicator');
    revertColours('.indicator-reversed');
});
</script>
{% endblock %}
