{% extends 'base.html' %}
{% import 'functions.html' as f %}

{% block title %}Postcode {{ postcode.text }}{% endblock %}

{% block outer_header %}
{{ f.add_search_bar() }}
{% endblock %}

{% block heading %}
<div class="heading-with-button">
  <h1>Postcode {{ postcode.text }}, {{ postcode.district.name|d(postcode.admin_area.name) }} </h1>
  <a class="button" href="{{ url_for('page.show_map', coords=(postcode.latitude, postcode.longitude, 16)) }}">Map</a>
</div>
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column-1">
        <section class="card">
            <form class="form" action="{{ g.action }}" method="post" name="search">
                {% set aria = {'aria-label': 'Find a bus stop'} %}
                {{ g.form.hidden_tag() }}
                {% if query is not none %}
                {{ g.form.search_query(placeholder="Find a bus stop...", id='search-form', value=query, required=g.form.search_query.flags.required, **aria) }}
                {% else %}
                {{ g.form.search_query(placeholder="Find a bus stop...", id='search-form', required=g.form.search_query.flags.required, **aria) }}
                {% endif %}
                {{ g.form.submit_query(id='submit-form') }}
            </form>
        </section>
        <section class="card">
            <h2>Stops nearby</h2>
            {% if list_stops|length > 0 %}
            {% call(s) f.print_list(list_stops, 'list--stops-wide') %}
            <a href="{{ url_for('page.stop_atco', atco_code=s.atco_code) }}" class="item item--stop--multiline">
                    <div class="item--stop">
                        {{ f.print_stop_indicator(s) }}
                        <div class="item__label">{{ s.name }}</div>
                        <div class="item__dist">{{ '%.0f m'|format(s.distance) }}</div>
                    </div>
                    {% if s.street %}
                    <p>{{ s.street }}</p>
                    {% endif %}
                    {% if s.lines %}
                    <p>
                    {% for l in s.lines %}
                    <span class="line line--inline">
                        <span class="line__inner {{ 'area-%s'|format(s.admin_area_ref) }}">
                            <span class="line__text">{{ l }}</span>
                        </span>
                    </span>
                    {% endfor %}
                    </p>
                    {% endif %}
                </a>
            {% endcall %}
            {% else %}
            <p>No stops found within 500 metres.</p>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    resizeIndicator('indicator');
</script>
{% endblock %}
