{% extends 'base.html' %}
{% import 'functions.html' as f %}
{% set body = 'body-slim' %}

{% block title %}Postcode {{ postcode.text }}{% endblock %}

{% block content %}
<main>
  {% if postcode.district %}
  <h1>Postcode {{ postcode.text }}, {{ postcode.district.name }} </h1>
  {% elif postcode.admin_area %}
  <h1>Postcode {{ postcode.text }}, {{ postcode.admin_area.name }} </h1>
  {% else %}
  <h1>Postcode {{ postcode.text }}</h1>
  {% endif %}
  <section>
    {% if list_stops|length > 0 %}
    <div class="h2-inline">
      <h2>Stops</h2>
      <p><a class="action" href="{{ url_for('page.show_map', coords=(postcode.latitude, postcode.longitude, 16)) }}">Map</a></p>
    </div>
    {% call(s) f.print_list(list_stops, name='list-stops') -%}
    <a href="{{ url_for('page.stop_atco', atco_code=s.atco_code) }}" data-code="{{ s.atco_code }}" class="item item-stop item-multiline">
      <span>
        {{ f.print_stop_indicator(s.short_ind, s.stop_type, s.admin_area_ref) }}
        <span class="item-label">{{ s.name }}{% if s.street and s.street not in s.name and s.name not in s.street %}, <span class="item-label-small">{{ s.street }}</span>{% endif %}</span>
        <span class="item-label item-label-distance">{{ '%.0f m'|format(s.distance) }}</span>
      </span>
      {% if s.lines -%}
      <p>
        {%- for l in s.lines %}
        <span class="line-outer line-outer-inline">
          <span class="line {{ 'area-%s'|format(s.admin_area_ref) }}">{{ l }}</span>
        </span>
        {%- endfor %}
      </p>
      {%- endif %}
    </a>
    {%- endcall %}
    {%- else -%}
    <h2>Stops</h2>
    <p>No stops found nearby.</p>
    {%- endif %}
  </section>
</main>
{% endblock %}

{% block script %}
<script>
let fl;
let list = document.getElementById('list-stops');
let groups = {{ groups|tojson }};
window.addEventListener('load', function() {
    resizeIndicator('.indicator');
    if (list != null && (fl = stopServiceFilter(list, groups)) != null) {
        let main = document.querySelector('main');
        let first = main.querySelector('section');
        let section = element('section', {className: 'aside'}, fl.container);
        main.insertBefore(section, first);
        fl.menu.updateHeight();
    }
});
</script>
{% endblock %}
