{% extends "base.html" %}
{% block title %}{{ region.name }} region{% endblock %}

{% block nav %}
<ul class="breadcrumbs">
    <li><a href="{{ url_for('page.list_regions') }}">All regions</a></li>
</ul>
{% endblock %}

{% block heading %}
<h1>{{ region.name }}</h1>
{% endblock %}

{% block content %}
{% if areas|length > 0 %}
<h2>Areas</h2>
<div class="list-places">
    {% for ad in areas %}
    {% if ad.__tablename__ == 'admin_area' %}
    <a class="item-place" href="{{ url_for('page.list_in_area', area_code=ad.code) }}">{{ ad.name }}</a>
    {% elif ad.__tablename__ == 'district' %}
    <a class="item-place" href="{{ url_for('page.list_in_district', district_code=ad.code) }}">{{ ad.name }}</a>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<p>No areas or districts found.</p>
{% endif %}
{% endblock %}