{% extends "base.html" %}
{% import 'functions.html' as f %}
{% block title %}{{ region.name }} region{% endblock %}

{% block outer_header %}
{{ f.add_search_bar() }}
{% endblock %}

{% block heading %}
<nav>
    <ul class="breadcrumbs">
        <li><a href="{{ url_for('page.list_regions') }}">All regions</a></li>
    </ul>
</nav>
<h1>{{ region.name }}</h1>
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column-1 column--empty"></div>
    <div class="column-3">
        <section class="card">
            <h2>Areas</h2>
            {% if areas %}
            {% call(a) f.print_list(areas, 'list--places') %}
            {% if a.table_name == 'admin_area' %}
            <a class="item item--place" href="{{ url_for('page.list_in_area', area_code=a.code) }}">{{ a.name }}</a></li>
            {% elif a.table_name == 'district' %}
            <a class="item item--place" href="{{ url_for('page.list_in_district', district_code=a.code) }}">{{ a.name }}</a>
            {% endif %}
            {% endcall %}
            {% else %}
            <p>No areas or districts found.</p>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}