{% import 'functions.html' as f %}
{% extends 'base.html' %}
{% block title %}Search results{{ " for \"%s\""|format(query) if query }}{% endblock %}

{% set f_groups = filters|default(false) and filters.group.choices %}
{% set f_areas = filters|default(false) and filters.area.choices|length > 1 %}

{# Set checkbox as checked if matching value is in query string #}
{% macro checked(name, value) %}
{% if value in request.args.getlist(name) %}checked{% endif %}
{% endmacro %}

{% macro group_tab(value, name, selected) %}
<li>
    {% if selected %}
    <div class="tab tab--active"><span>{{ name }}</span></div>
    {% else %}
    <a class="tab" href="{{ modify_query(group=value, page=none) }}">{{ name }}</a>
    {% endif %}
</li>
{% endmacro %}

{% block heading %}
<h1>Search</h1>
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column-1 column--empty"></div>
    <div class="column-3">
        <section class="card">
            <form class="search-form" action="{{ g.action }}" method="post" name="search">
                {% set aria = {'aria-label': 'Find a bus stop'} %}
                {{ g.form.hidden_tag() }}
                {% if query is not none %}
                {{ g.form.search_query(placeholder="Find a bus stop...", id='search-form', value=query, required=g.form.search_query.flags.required, **aria) }}
                {% else %}
                {{ g.form.search_query(placeholder="Find a bus stop...", id='search-form', required=g.form.search_query.flags.required, **aria) }}
                {% endif %}
                {{ g.form.submit_query(id='submit-form') }}
            </form>
        </section>
    </div>
</div>
{% if query is not none %}
<div class="columns">
    {% if f_areas %}
    <div class="column-1">
        <section id="filter-box" class="card card--aside">
            <div class="heading-inline heading-inline--right">
                <h3>Filter by area</h3>
                <button id="filter-show-button" class="filter-button">Show</button>
            </div>
            <div id="filter-wrapper" class="hidden filter-form-wrapper">
                <form id="filter-form" class="filter-form" method="get">
                    <div class="filter-form__scrolling">
                        <ul class="filter-list">
                            {% for element in filters.area.render_elements(class='filter-item') %}
                            <li>{{ element }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button id="filter-refresh-button" class="filter-submit">Refresh</button>
                </form>
            </div>
        </section>
    </div>
    {% else %}
    <div class="column-1 column--empty"></div>
    {% endif %}
    <div class="column-3">
        {% if f_groups %}
        <ul class="tabs">
            {{ group_tab(none, 'All results', 'group' not in request.args) }}
            {% for value, name in filters.group.choices %}
            {{ group_tab(value, name, request.args['group'] == value) }}
            {% endfor %}
        </ul>
        {% endif %}
        <section class="card">
            {% if results is defined and results.total > 0 %}
            <h2>{{ results.total }} {{ 'result' if results.total == 1 else 'results' }}</h2>
            {% if results.items|length > 0 %}
            {% call(item) f.print_list(results.items) %}
            {% if item.table_name == 'region' %}
            <a class="item item--place item--place--tall" href="{{ url_for('page.list_in_region', region_code=item.code) }}"><span><strong>{{ item.name }}</strong></span></a>
            {% elif item.table_name == 'admin_area' %}
            <a class="item item--place item--place--tall" href="{{ url_for('page.list_in_area', area_code=item.code) }}"><span><strong>{{ item.name }}</strong></span></a>
            {% elif item.table_name == 'district' %}
            <a class="item item--place item--place--tall" href="{{ url_for('page.list_in_district', district_code=item.code) }}"><span><strong>{{ item.name }}</strong>, {{ item.admin_area_name }}</span></a>
            {% elif item.table_name == 'locality' %}
            <a class="item item--place item--place--tall" href="{{ url_for('page.list_in_locality', locality_code=item.code) }}"><span><strong>{{ item.name }}</strong>, {{ item.district_name if item.district_name else item.admin_area_name }}</span></a>
            {% elif item.table_name == 'stop_area' %}
            <a href="{{ url_for('page.stop_area', stop_area_code=item.code) }}" class="item item--stop--multiline">
                <div class="item--stop">
                    {{ f.print_stop_indicator(item, reverse=true) }}
                    <span class="item__label">{{ item.name }}</span>
                </div>
                {% set place = [item.locality_name, item.district_name if item.district_name else item.admin_area_name] %}
                <p>{{ place|join(', ') }}</p>
            </a>
            {% elif item.table_name == 'stop_point' %}
            <a href="{{ url_for('page.stop_atco', atco_code=item.code) }}" class="item item--stop--multiline">
                <div class="item--stop">
                    {{ f.print_stop_indicator(item) }}
                    <div class="item__label">{{ item.name }}</div>
                </div>
                {% set place = [item.locality_name, item.district_name if item.district_name else item.admin_area_name] %}
                {% if item.street %}
                <p>{{ ([item.street] + place)|join(', ') }}</p>
                {% else %}
                <p>{{ place|join(', ') }}</p>
                {% endif %}
            </a>
            {% endif %}
            {% endcall %}
            {% if results.has_next or results.has_prev %}
            <div class="page-select">
                <p>
                    {% if results.has_prev %}
                    <a href="{{ modify_query(page=results.prev_num) }}"><span>Previous page</span> <span>({{ results.prev_num }} of {{ results.pages }})</span></a>
                    {% endif %}
                </p>
                <p>
                    {% if results.has_next %}
                    <a href="{{ modify_query(page=results.next_num) }}"><span>Next page</span> <span>({{ results.next_num }} of {{ results.pages}})</span></a>
                    {% endif %}
                </p>
            </div>
            {% endif %}
            {% else %}
            <p>Page {{ request.args.get("page") }} is out of range for this search query.</p>
            <p><a href="?">Go back to page 1</a></p>
            {% endif %}
            {% elif results is defined and (f_types or f_areas) %}
            <h2>No results found</h2>
            <p>No matching results for <strong>{{ query }}</strong> with the filters you selected.</p>
            <p><a href="?">Reset filters</a></p>
            {% elif results is defined %}
            <h2>No results found</h2>
            <p>The query <strong>{{ query }}</strong> returned no matches. You could try:</p>
            <ul class="dashed-list">
                <li>Checking your query for typos;</li>
                <li>Using more general keywords;</li>
                <li>Remove some keywords to make your query more broad.</li>
            </ul>
            {% else %}
            <h2>No results found</h2>
            {% if error.postcode is defined %}
            <p>The postcode <strong>{{ error.postcode }}</strong> cannot be found; it may not exist or lies outside the area this website covers.</p>
            {% elif error.param is defined %}
            <p>Your address is not valid.</p>
            <p>If you typed the address by hand or copied and pasted it, make sure you have entered the address in full and there are no typos.</p>
            <p>You can try <a href="?">searching with the filters reset</a>, or <a href="{{ url_for('page.index') }}">go back to the home page.</a></p>
            {% elif error.too_short is defined %}
            <p>Your query <strong>{{ query }}</strong> is too short or contained characters that cannot be processed. Try using a different search term.</p>
            {% elif error.not_defined is defined %}
            <p>Your query <strong>{{ query }}</strong> is too broad. Try adding more keywords to narrow down the query.</p>
            {% else %}
            <p>Something went wrong when searching with your query. The administrator has been notified. Apologies for the inconvenience.</p>
            {% endif %}
            {% endif %}
        </section>
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script>
    resizeIndicator('indicator');
    revertColours('indicator--reversed');
</script>
{% if f_groups or f_areas %}
<script>
    let showFilter = false;
    let filterBox = document.getElementById('filter-box');
    let filterShow = document.getElementById('filter-show-button');
    let filterList = document.getElementById('filter-wrapper');

    filterShow.addEventListener('click', function() {
        showFilter = !showFilter;
        filterList.style.height = (showFilter) ? filterList.scrollHeight + 'px' : '';
        filterList.style.marginTop = filterList.style.marginBottom = (showFilter) ? '10px': '';
        filterShow.textContent = (showFilter) ? 'Hide' : 'Show';
        if (showFilter) {
            filterBox.scrollIntoView({behavior: 'smooth'});
        }
    });
    window.addEventListener('resize', function() {
        if (showFilter) {
            // Reset height, otherwise scrollHeight's value will just increase
            filterList.style.height = 'auto';
            filterList.style.height = filterList.scrollHeight + 'px';
        }
    });

    let filterForm = document.getElementById('filter-form');
    let checkboxes = filterForm.querySelectorAll('input[type="checkbox"]');
    for (let i = 0; i < checkboxes.length; i++) {
        let c = checkboxes[i];
        c.addEventListener('change', function() {
            filterForm.submit();
        });
    }
    // Not required anymore; can hide for now
    let filterRefresh = document.getElementById('filter-refresh-button');
    filterRefresh.style.display = 'none';
</script>
{% endif %}
{% endblock %}
