{% extends 'base.html' %}
{% import 'functions.html' as f %}
{% block title %}Search results{{ ' for "%s"'|format(query) if query }}{% endblock %}

{% set f_groups = filters|default(false) and filters.group.choices|length > 1 %}
{% set f_areas = filters|default(false) and filters.area.choices|length > 1 %}

{# Set checkbox as checked if matching value is in query string #}
{% macro checked(name, value) -%}
{% if value in request.args.getlist(name) %}checked{% endif %}
{%- endmacro %}

{% macro list_pages(left=2, right=5) -%}
<p>
  {% if results.page - left > 1 -%}
  <a class="action" title="Go to first page" href="{{ modify_query(page=1) }}">«</a>
  {%- else -%}
  <span class="inactive">«</span>
  {%- endif %}
  {%- for page in results.iter_pages(left_current=left, left_edge=0, right_current=right, right_edge=0) %}
  {% if page and page != results.page -%}
  <a class="action" title="Go to page {{ page }}" href="{{ modify_query(page=page) }}">{{ page }}</a>
  {%- elif page -%}
  <span class="inactive">{{ results.page }}</span>
  {%- endif %}
  {%- endfor %}
  {% if results.page + right - 1 < results.pages -%}
  <a class="action" title="Go to last page" href="{{ modify_query(page=results.pages) }}">»</a>
  {%- else -%}
  <span class="inactive">»</span>
  {%- endif %}
</p>
{%- endmacro %}

{% macro group_tab(value, name, selected) %}
<li>
    {%- if selected -%}
    <span class="tab tab-active">{{ name }}</span>
    {%- else -%}
    <a class="tab" href="{{ modify_query(group=value, page=none) }}">{{ name }}</a>
    {%- endif -%}
</li>
{% endmacro %}

{% block content %}
<main>
  <h1>Search</h1>
  <section class="aside">
    <form class="form" action="{{ g.action }}" method="post" name="search" autocomplete="off">
      {{ g.form.hidden_tag() }}
      <input type="search" name="search" placeholder="Find a stop..." value="{{ query if query is not none else '' }}" aria-label="Find a bus stop" required>
      <button type="submit" name="submit" title="Search" value="1">Search</button>
    </form>

    {% if f_areas -%}
    <form method="get" id="form-select-area" class="form">
      {{ filters.area(id="select-area") }}
      <button id="select-area-refresh" type="submit">Refresh</button>
    </form>
    {%- endif %}
  </section>

  {% if query is not none -%}

  {% if f_groups -%}
  <ul class="tabs tabs-5">
    {{ group_tab(none, 'All results', 'group' not in request.args) }}
    {%- for value, name in filters.group.choices %}
    {{ group_tab(value, name, request.args['group'] == value) }}
    {%- endfor %}
  </ul>
  {%- endif %}

  <section>
    {% if results is defined and results.total > 0 -%}
    <h3>{{ results.total }} {{ 'result' if results.total == 1 else 'results' }}</h3>

    {% if results.items|length > 0 -%}
    {% call(item) f.print_list(results.items) -%}
    {% if item.table_name == 'admin_area' -%}
    <a class="item item-place item-tall" href="{{ url_for('page.list_in_area', area_code=item.code) }}"><strong>{{ item.name }}</strong></a>
    {%- elif item.table_name == 'district' -%}
    <a class="item item-place item-tall" href="{{ url_for('page.list_in_district', district_code=item.code) }}"><strong>{{ item.name }}</strong>, {{ item.admin_area_name }}</a>
    {%- elif item.table_name == 'locality' -%}
    <a class="item item-place item-tall" href="{{ url_for('page.list_in_locality', locality_code=item.code) }}"><strong>{{ item.name }}</strong>, {{ item.district_name if item.district_name else item.admin_area_name }}</a>
    {%- elif item.table_name == 'stop_area' -%}
    <a href="{{ url_for('page.stop_area', stop_area_code=item.code) }}" class="item item-stop item-multiline">
      <span>
        {{ f.print_stop_indicator(item.indicator, item.stop_type, item.admin_area_ref, reverse=true) }}
        <span class="item-label">{{ item.name }}</span>
      </span>
      {% set place = [item.locality_name, item.district_name if item.district_name else item.admin_area_name] -%}
      <p>{{ place|join(', ') }}</p>
    </a>
    {%- elif item.table_name == 'stop_point' -%}
    <a href="{{ url_for('page.stop_atco', atco_code=item.code) }}" class="item item-stop item-multiline">
      <span>
        {{ f.print_stop_indicator(item.indicator, item.stop_type, item.admin_area_ref) }}
        <span class="item-label">{{ item.name }}</span>
      </span>
      {% set place = [item.locality_name, item.district_name if item.district_name else item.admin_area_name] -%}
      {% if item.street -%}
      <p>{{ ([item.street] + place)|join(', ') }}</p>
      {%- else -%}
      <p>{{ place|join(', ') }}</p>
      {%- endif %}
    </a>
    {% set stop_name = '%s (%s)'|format(item.name, item.indicator) if item.indicator else item.name -%}
    {%- elif item.table_name == 'service' -%}
    <a href="{{ url_for('page.service', service_code=item.code) }}" class="item item-service item-tall">
      <span class="line-outer">
        <span class="line {{ 'area-%s'|format(item.admin_area_ref) if item.admin_area_ref }}">{{ item.indicator }}</span>
      </span>
      <span class="item-label">{{ item.name }}</span>
    </a>
    {%- endif %}
    {%- endcall %}

    {% if results.has_next or results.has_prev -%}
    <div class="inline">
      <p></p>
      {{ list_pages() }}
    </div>
    {%- endif %}

    {%- else -%}
    <p>Page {{ request.args.get("page") }} is out of range for this search.</p>
    <p><a href="?">Go back to page 1</a></p>
    {%- endif %}

    {%- elif results is defined and (filters.group.choices or filters.area.choices) -%}
    <h3>No results found</h3>
    <p>No matching results for <strong>{{ query }}</strong> with the filters you selected.</p>
    <p><a href="?">Reset filters</a></p>

    {%- elif results is defined -%}
    <h3>No results found</h3>
    <p>The query <strong>{{ query }}</strong> returned no matches. You could try:</p>
    <ul class="dashed-list">
      <li>Checking your query for typos;</li>
      <li>Using more general keywords;</li>
      <li>Remove some keywords to make your query more broad.</li>
    </ul>

    {%- else -%}
    <h3>No results found</h3>
    {% if error.postcode is defined -%}
    <p>The postcode <strong>{{ error.postcode }}</strong> cannot be found; it may not exist or lies outside the area this website covers.</p>
    {%- elif error.param is defined -%}
    <p>Your address is not valid.</p>
    <p>If you typed the address by hand or copied and pasted it, make sure you have entered the address in full and there are no typos.</p>
    <p>You can try <a href="?">searching with the filters reset</a>, or <a href="{{ url_for('page.index') }}">go back to the home page.</a></p>
    {%- elif error.not_defined is defined -%}
    <p>The query <strong>{{ query }}</strong> is too broad. Try adding more keywords to narrow down this search.</p>
    {%- else -%}
    <p>Something went wrong when searching with your query. The administrator has been notified. Apologies for the inconvenience.</p>
    {%- endif %}
    {%- endif %}
  </section>
  {%- endif %}
</main>
{% endblock %}

{% block script %}
<script>
let filterArea;
window.addEventListener('load', function() {
    resizeIndicator('.indicator');
    revertColours('.indicator-reversed');

    let refresh = document.getElementById('select-area-refresh');
    if (refresh != null) {
        refresh.style.display = 'none';
    }
    let formSelectArea = document.getElementById('form-select-area');
    let onSelect = (formSelectArea != null) ? function() { formSelectArea.submit(); } : null;
    filterArea = new FilterList({
        selectElement: document.getElementById('select-area'),
        onSelect: onSelect,
        defaultText: 'Filter by area...'
    });
});
</script>
{% endblock %}
