{% extends 'base.html' %}
{% import 'functions.html' as f %}

{% block title %}{{ service.line }}: {{ truncate_description(service.description) }}{% endblock %}

{% block outer_header %}
{{ f.add_search_bar() }}
{% endblock %}

{% block heading %}
<nav>
    <ul class="breadcrumbs breadcrumbs--trailing">
        <li><a href="{{ url_for('page.list_regions') }}">All regions</a></li>
    </ul>
</nav>
<div class="heading-service">
  <div class="line">
    <div class="line__inner {{ 'area-%s'|format(service.admin_area.code) if service.admin_area }}">
      <span class="line__text">{{ service.line }}</span>
    </div>
  </div>
  <h1>{{ service.description }}</h1>
</div>
{% if service.local_operators|length > 0 %}
<p>Operated by {{ f.print_inline(service.local_operators|map(attribute='name')|list) }}</p>
{% endif %}
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column-1">
        <section class="card card--buttons card--minor">
            <a class="button" href="{{ url_for('page.show_map_service_direction', service_id=service.id, reverse=reverse) }}"><span>Map</span></a>
            <a class="button" href="{{ url_for('page.service_timetable', service_id=service.id, reverse=reverse) }}"><span>Timetable</span></a>
        </section>
    </div>
    <div class="column-3">
        {% if mirrored %}
        <ul class="tabs tabs--2">
            {% if not reverse %}
            <li><div class="tab tab--active"><span>Outbound</span></div></li>
            <li><a class="tab" href="{{ url_for('page.service', service_id=service.id, reverse=true) }}">Inbound</a></li>
            {% else %}
            <li><a class="tab" href="{{ url_for('page.service', service_id=service.id, reverse=false) }}">Outbound</a></li>
            <li><div class="tab tab--active"><span>Inbound</span></div></li>
            {% endif %}
        </ul>
        {% endif %}
        <section class="card" id="diagram">
            <dl class="description-list">
              <dt>From</dt>
              <dd><strong>{{ dest.origin|join(" / ") }}</strong></dd>
              <dt>To</dt>
              <dd><strong>{{ dest.destination|join(" / ") }}</strong></dd>
            </dl>
            <div id="diag" class="diagram"></div>
            {% if sequence|length > 0 %}
            {% call(s) f.print_list(sequence, class='list--relative', name='listStops') %}
            {% if s %}
            {% set stop = stops[s] %}
            <a href="{{ url_for('page.stop_atco', atco_code=stop.atco_code) }}" class="item item--stop--multiline item--stop--service">
                <div id={{ 'c' + stop.atco_code }}>
                    <div class="item--stop">
                        {{ f.print_stop_indicator(stop, name="i"+stop.atco_code) }}
                        <div class="item__label">{{ stop.name }}</div>
                    </div>
                    {% if stop.street and stop.street != stop.locality.name %}
                    <p>{{ stop.street }}, {{ stop.locality.name }}</p>
                    {% else %}
                    <p>{{ stop.locality.name }}</p>
                    {% endif %}
                </div>
            </a>
            {% else %}
            <div class="item item--stop item--stop--empty" id="cNull">
                <div class="indicator" id="iNull"></div>
            </div>
            {% endif %}
            {% endcall %}
            {% else %}
            <p>No stops found.</p>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    resizeIndicator('indicator');
</script>
<script>
    let data, diagram;
    data = {{ layout|tojson }};
    if (data) {
        diagram = setupGraph('diag', data);
    }
</script>
{% endblock %}
