{% extends 'base.html' %}
{% import 'functions.html' as f %}

{% block title %}{{ service.line }}: {{ service.description }}{% endblock %}

{% block outer_header %}
{{ f.add_search_bar() }}
{% endblock %}

{% block heading %}
<nav>
    <ul class="breadcrumbs breadcrumbs--trailing">
        <li><a href="{{ url_for('page.list_regions') }}">All regions</a></li>
    </ul>
</nav>
<div class="heading-service">
  <div class="line">
    <div class="line__inner {{ 'area-%s'|format(service.admin_area.code) if service.admin_area }}">
      <span class="line__text">{{ service.line }}</span>
    </div>
  </div>
  <h1>{{ service.description }}</h1>
</div>
{% if service.local_operators|length > 0 %}
<p>Operated by {{ f.print_inline(service.local_operators|map(attribute='name')|list) }}</p>
{% endif %}
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column-1">
        <section class="card card--buttons card--minor">
            <a class="button" href="{{ url_for('page.show_map_service_direction', service_id=service.id, reverse=reverse) }}"><span>View on map</span></a>
            <a class="button" href="#timetable"><span>Timetable</span></a>
        </section>
    </div>
    <div class="column-3">
        {% if mirrored %}
        <ul class="tabs tabs--2">
            {% if not reverse %}
            <li><div class="tab tab--active"><span>Outbound</span></div></li>
            <li><a class="tab" href="{{ url_for('page.service', service_id=service.id, reverse=true) }}">Inbound</a></li>
            {% else %}
            <li><a class="tab" href="{{ url_for('page.service', service_id=service.id, reverse=false) }}">Outbound</a></li>
            <li><div class="tab tab--active"><span>Inbound</span></div></li>
            {% endif %}
        </ul>
        {% endif %}
        <section class="card" id="diagram">
            <dl class="description-list">
              <dt>From</dt>
              <dd><strong>{{ dest.origin|join(" / ") }}</strong></dd>
              <dt>To</dt>
              <dd><strong>{{ dest.destination|join(" / ") }}</strong></dd>
            </dl>
            <div id="diag" class="diagram"></div>
            {% if sequence|length > 0 %}
            {% call(s) f.print_list(sequence, class='list--relative', name='listStops') %}
            {% if s %}
            {% set stop = stops[s] %}
            <a href="{{ url_for('page.stop_atco', atco_code=stop.atco_code) }}" class="item item--stop--multiline item--stop--service">
                <div id={{ 'c' + stop.atco_code }}>
                    <div class="item--stop">
                        {{ f.print_stop_indicator(stop, name="i"+stop.atco_code) }}
                        <div class="item__label">{{ stop.name }}</div>
                    </div>
                    {% if stop.street and stop.street != stop.locality.name %}
                    <p>{{ stop.street }}, {{ stop.locality.name }}</p>
                    {% else %}
                    <p>{{ stop.locality.name }}</p>
                    {% endif %}
                </div>
            </a>
            {% else %}
            <div class="item item--stop item--stop--empty" id="cNull">
                <div class="indicator" id="iNull"></div>
            </div>
            {% endif %}
            {% endcall %}
            {% else %}
            <p>No stops found.</p>
            {% endif %}

        </section>
        {% if mirrored %}
        <ul class="tabs tabs--2">
            {% if not reverse %}
            <li><div class="tab tab--active"><span>Outbound</span></div></li>
            <li><a class="tab" href="{{ url_for('page.service', service_id=service.id, reverse=true) }}#timetable">Inbound</a></li>
            {% else %}
            <li><a class="tab" href="{{ url_for('page.service', service_id=service.id, reverse=false) }}#timetable">Outbound</a></li>
            <li><div class="tab tab--active"><span>Inbound</span></div></li>
            {% endif %}
        </ul>
        {% endif %}
        <section class="card" id="timetable">
            <h2>Timetable</h2>
            <form method="GET" action="#timetable">
                {{ select_date.date() }}
                <button>Refresh</button>
            </form>
            {% if timetable.head|length > 0 %}
                <div class="timetable-wrapper">
                    <table class="timetable" id="tt">
                        {% if timetable.notes %}
                        <tr>
                            <td></td>
                            {% for h in timetable.head %}
                            <td>{% if h[2] is not none %}{{ h[2] }}{% endif %}</td>
                            {% endfor %}
                        </tr>
                        {% endif %}
                        {% if timetable.operators %}
                        <tr>
                            <td></td>
                            {% for h in timetable.head %}
                            <td>{% if h[1] is not none %}{{ h[1] }}{% endif %}</td>
                            {% endfor %}
                        </tr>
                        {% endif %}
                        {% for r in timetable.stops %}
                        {% set stop = stops[r.code] %}
                        <tr class="timetable__row{{ ' timetable__row--major' if r.timing else ' timetable__row--hidden' }}">
                            <th>
                                {% if stop.indicator %}
                                {{ stop.name }} <span>({{ stop.indicator }})</span>
                                {% else %}
                                {{ stop.name }}
                                {% endif %}
                            </th>
                            {% for t in r.times %}
                            <td {% if t[2] %}class="timetable--bold"{% endif %}>
                                {% if t[0] and t[1] and t[0] != t[1] %}
                                <span>a {{ t[0] }}</span> <span>d {{ t[1] }}</span>
                                {% elif t[1] or t[0] %}
                                {{ t[1] or t[0]}}
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <dl class="description-list">
                    {% for o in timetable.operators %}
                    <dt><strong>{{ o[0] }}</strong></dt>
                    <dd>{{ o[1] }}</dd>
                    {% endfor %}
                </dl>
                <dl class="description-list">
                    {% for n in timetable.notes %}
                    <dt><strong>{{ n[0] }}</strong></dt>
                    <dd>{{ n[1] }}</dd>
                    {% endfor %}
                </dl>
            {% else %}
            <p>No services run on this day.</p>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    resizeIndicator('indicator');
</script>
<script>
    let data, diagram;
    data = {{ layout|tojson }};
    if (data) {
        diagram = setupGraph('diag', data);
    }
</script>
<script>
    function addRowEvent(group) {
        let hidden = true;
        if (!group.next.length) {
            return;
        }
        group.current.classList.add('timetable__row--selectable');
        group.current.onclick = function() {
            let r;
            for (let i = 0; i < group.next.length; i++) {
                r = group.next[i];
                if (hidden) {
                    r.classList.remove('timetable__row--hidden');
                } else {
                    r.classList.add('timetable__row--hidden');
                }
            }
            hidden = !hidden;
        }
    }

    let table = document.getElementById('tt');
    if (table != null) {
        let rows = table.getElementsByTagName('tr'),
            i, row, groups = [];
        for (i = 0; i < rows.length; i++) {
            row = rows[i];
            if (row.classList.contains('timetable__row--major')) {
                groups.push({current: row, next: []});
            } else if (groups.length) {
                groups[groups.length - 1].next.push(row);
            }
        }
        for (i = 0; i < groups.length; i++) {
            addRowEvent(groups[i]);
        }
    }
</script>
{% endblock %}
