{% extends "base.html" %}
{% import 'functions.html' as f %}
{% set body = 'body-narrow' %}

{% block title %}Starred stops{% endblock %}

{% block content %}
<main>
  <h1>Starred stops</h1>
  <section>
    {% if starred is not none and starred|length > 0 -%}
    <div class="h3-inline">
      <h3>Stops</h3>
    </div>
    {% call(s) f.print_list(starred, name='starred-list', class='list-actions') -%}
    <a href="{{ url_for('page.stop_atco', atco_code=s.atco_code) }}" data-smscode="{{ s.naptan_code }}" class="item item-stop item-multiline">
      <span>
        {{ f.print_stop_indicator(s) }}
        <span class="item-label">{{ s.name }}</span>
      </span>
      <p>{{ [s.street, s.locality.name]|join(', ') if s.street else s.locality.name }}</p>
    </a>
    <a href="{{ url_for('page.show_map_stop', atco_code=s.atco_code) }}" title="Go to map for {{ s.long_name }}" class="item item-action">{{ f.place_icon() }}</a>
    {%- endcall %}
    {%- else -%}
    <p>You can have your favourite stops here! Just find them and star them.</p>
    {%- endif %}
  </section>
</main>
{% endblock %}

{% block script %}
<script>
let set = {{ ('stops' in session)|tojson }};
let starred, list, starredUI;
window.addEventListener('load', function() {
    list = document.getElementById('starred-list');
    if (list == null) {
        return;
    }
    resizeIndicator('.indicator');
    starred = new StarredStops(set);
    starredUI = new StarredStopsInterface(list, starred);
    let heading = document.querySelector('.h3-inline');
    let actions = element('div',
        {className: 'actions'},
        starredUI.deleteButton,
        starredUI.toggleButton
    );
    heading.appendChild(actions);
});
</script>
{% endblock %}
