{% extends 'base.html' %}
{% import 'functions.html' as f %}

{% block title %}{{ f.stop_full_name(stop) }}{% endblock %}

{% block outer_header %}
{{ f.add_search_bar() }}
{% endblock %}

{% block heading %}
<nav>
    <ul class="breadcrumbs breadcrumbs--trailing">
        <li><a href="{{ url_for('page.list_regions') }}">All regions</a></li>
        {% if stop.locality.district is not none %}
        <li><a href="{{ url_for('page.list_in_district', district_code=stop.locality.district.code) }}">{{ stop.locality.district.name }}</a></li>
        {% else %}
        <li><a href="{{ url_for('page.list_in_area', area_code=stop.locality.admin_area.code) }}">{{ stop.locality.admin_area.name }}</a></li>
        {% endif %}
        <li><a href="{{ url_for('page.list_in_locality', locality_code=stop.locality.code) }}">{{ stop.locality.name }}</a></li>
    </ul>
</nav>
<div class="heading-stop">
    {{ f.print_stop_indicator(stop) }}
    <h1>{{ stop.name }}</h1>
</div>
{% if stop.street or stop.bearing %}
<p>{{ f.stop_description(stop) }}</p>
{% endif %}
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column-2">
        <section class="card card--min-height">
            <div class="heading-inline heading-inline--right">
                <h2 id="liveTime">Retrieving live data...</h2>
                <p id="liveCountdown"></p>
            </div>
            <div id="services"></div>
        </section>
        <section class="card">
            <h2>Services</h2>
            {% if services %}
            {% call(s) f.print_list(services) %}
            <a href="{{ url_for('page.service', service_id=s[0].id, direction='outbound' if false in s[1] else ('inbound' if true in s[1] else 'outbound')) }}" class="item item--service">
                <div class="line">
                    <div class="line__inner {{ 'area-%s'|format(stop.admin_area_ref) }}">
                        <span class="line__text">{{ s[0].line }}</span>
                    </div>
                </div>
                <div class="item__label">{{ truncate_description(s[0].description) }}</div>
            </a>
            {% endcall %}
            {% else %}
            <p>No services stop here.</p>
            {% endif %}
        </section>
    </div>
    <div class="column-1">
        <section class="card card--minor">
            <a class="button" href="{{ url_for('page.show_map_stop', atco_code=stop.atco_code) }}"><span>View on map</span></a>
            {% if 'stops' not in session %}
            <div id="cookie-request-info" class="hidden" style="margin: -5px 0;">
                <p>This will add a cookie to your device with a list of starred stops. No other identifiable information is stored. If you're happy with this, click again.</p>
            </div>
            <button class="button" onclick="starred.add(this, '{{ stop.naptan_code }}');"><span>Add starred stop</span></button>
            {% elif stop.naptan_code not in session['stops'] %}
            <button class="button" onclick="starred.add(this, '{{ stop.naptan_code }}');"><span>Add starred stop</span></button>
            {% else %}
            <button class="button" onclick="starred.remove(this, '{{ stop.naptan_code }}');"><span>Remove starred stop</span></button>
            {% endif %}
        </section>
        <section class="card card--aside">
            <h2>Stop information</h2>
            <p>
                {% set pipe = joiner() %}
                {% if stop.street is not none %}{{ pipe() }}<strong>{{ stop.street }}</strong>{% endif %}<!--
             -->{% if stop.crossing is not none and stop.crossing != stop.street %}{{ pipe() }}{{ stop.crossing }}{% endif %}<!--
             -->{% if stop.landmark is not none and stop.landmark != stop.crossing %}{{ pipe() }}{{ stop.landmark }}{% endif %}
            </p>
            <p>SMS code <strong>{{ stop.naptan_code}}</strong></p>
        </section>
        {% if stop.stop_area_ref is not none %}
        <section class="card card--aside">
            <h2>Other stops</h2>
            <p><a href="{{ url_for('page.stop_area', stop_area_code=stop.stop_area.code) }}">{{ stop.stop_area.name }}</a></p>
        </section>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    resizeIndicator('indicator');

    const LIVE_URL = "{{ url_for('api.stop_get_times', atco_code='') }}";
    const STARRED_URL = "{{ url_for('api.starred') }}";

    let set = "{{ ('stops' in session)|tojson }}" === 'true';
    let info = document.getElementById('cookie-request-info');
    let starred = new StarredStops(set, info);

    let ld = new LiveData(
        '{{ stop.atco_code }}',
        '{{ stop.admin_area_ref }}',
        'services',
        'liveTime',
        'liveCountdown'
    );
    ld.startLoop();
</script>
{% endblock %}