{% extends 'base.html' %}
{% import 'functions.html' as f %}

{% block title %}{{ stop_area.name }}{% endblock %}

{% block outer_header %}
{{ f.add_search_bar() }}
{% endblock %}

{% block heading %}
<nav>
    <ul class="breadcrumbs breadcrumbs--trailing">
        <li><a href="{{ url_for('page.list_regions') }}">All regions</a></li>
        {% if stop_area.locality.district is not none %}
        <li><a href="{{ url_for('page.list_in_district', district_code=stop_area.locality.district.code) }}">{{ stop_area.locality.district.name }}</a></li>
        {% else %}
        <li><a href="{{ url_for('page.list_in_area', area_code=stop_area.locality.admin_area.code) }}">{{ stop_area.locality.admin_area.name }}</a></li>
        {% endif %}
        <li><a href="{{ url_for('page.list_in_locality', locality_code=stop_area.locality.code) }}">{{ stop_area.locality.name }}</a></li>
    </ul>
</nav>
<h1>{{ stop_area.name }}</h1>
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column-1 column--empty">
        <div class="column-1">
            <section class="card card--minor">
                <a class="button" href="{{ url_for('page.show_map', coords=(stop_area.latitude, stop_area.longitude, 17)) }}"><span>View on map</span></a>
            </section>
        </div>
    </div>
    <div class="column-3">
        <section class="card">
            <h2>Stops</h2>
            {% if stops|length > 0 %}
            {% call(s) f.print_list(stops) %}
            {% if s.lines %}
            <a href="{{ url_for('page.stop_atco', atco_code=s.atco_code) }}" class="item item--stop--multiline">
                <div class="item--stop">
                    {{ f.print_stop_indicator(s) }}
                    <div class="item__label">{{ s.name }}</div>
                </div>
                <p>
                    {% for l in s.lines %}
                    <span class="line line--inline">
                        <span class="line__inner {{ 'area-%s'|format(s.admin_area_ref) }}">
                            <span class="line__text">{{ l }}</span>
                        </span>
                    </span>
                    {% endfor %}
                </p>
            </a>
            {% else %}
            <a href="{{ url_for('page.stop_atco', atco_code=s.atco_code) }}" class="item item--stop">
                {{ f.print_stop_indicator(s) }}
                <div class="item__label">{{ s.name }}</div>
            </a>
            {% endif %}
            {% endcall %}
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    resizeIndicator('indicator');
</script>
{% endblock %}
