{% import 'functions.html' as f %}
{% extends "base.html" %}
{% block title %}{{ f.stop_full_name(stop) }}{% endblock %}
{% set district = stop.locality.district|default(none) %}

{% block nav %}
{% if stop.locality is not none %}
<ul class="breadcrumbs trailing">
    <li><a href="{{ url_for('page.list_regions') }}">All regions</a></li>
    <li><a href="{{ url_for('page.list_in_area', area_code=stop.locality.admin_area.code) }}">{{ stop.locality.admin_area.name }}</a></li>
    {% if district is not none %}
    <li><a href="{{ url_for('page.list_in_district', district_code=district.code) }}">{{ district.name }}</a></li>
    {% endif %}
    <li><a href="{{ url_for('page.list_in_locality', locality_code=stop.locality.code) }}">{{stop.locality.name }}</a></li>
</ul>
{% endif %}
{% endblock %}

{% block heading %}
<div class="heading-stop">
    <div class="heading-stop-indicator">
        <div class="indicator stop-ind {{ f.stop_css_class(stop) }}">
            <span>{{ stop.short_ind }}</span>
        </div>
        {{ f.resize_indicator("stop-ind") }}
    </div>
    <h1>{{ stop.name }}</h1>
</div>
<p>
    {% set pipe = joiner() %}
    {% if stop.street is not none %}{{ pipe() }}<strong>{{ stop.street }}</strong>{% endif %}<!--
 -->{% if stop.naptan_code is not none %}{{ pipe() }}SMS code <strong>{{ stop.naptan_code }}</strong>{% endif %}
</p>
{% endblock %}

{% block content %}
<div class="heading-inline">
        <h2 id="liveTime">Retrieving live data...</h2>
        <span id="liveCountdown"></span>
</div>
<div id="services"></div>
<p><span class="text-green">Live times are in green,</span> otherwise they are retrieved from timetables.</p>
<script>
    var ld = new LiveData(
        "{{ stop.atco_code }}",
        "{{ url_for('page.stop_get_times') }}",
        document.getElementById("services"),
        document.getElementById("liveTime"),
        document.getElementById("liveCountdown")
    )
    ld.startLoop();
</script>
<div class="heading-inline">
    <h2>Location</h2>
    <button id="buttonShowMap" type="button" class="small-button" onclick="" value="show">show</button>
</div>
<div class="google-maps-embed" id="divMap">
    <iframe id="iframeMap" frameborder="0" style="border:0" data-src="https://www.google.com/maps/embed/v1/place?q={{ stop.latitude }},{{ stop.longitude }}&zoom=18&key=AIzaSyDMg5fhV03Wq0foro2KYpRDpHAxtNygN-s" allowfullscreen></iframe>
</div>
<script>
    var showButton = document.getElementById("buttonShowMap");
    var mapDiv = document.getElementById("divMap");
    var mapFrame = document.getElementById("iframeMap");
    showButton.onclick = function() {
        showButton.textContent = "loading";
        mapDiv.style.paddingBottom = "56.25%";
        mapFrame.setAttribute("src", mapFrame.getAttribute("data-src"));
        this.onclick = null;
        mapFrame.addEventListener("load", function() {
            showButton.textContent = "show";
            showButton.style.display = "none";
        });
    };
</script>
{% if stop.stop_area is not none %}
<p><a href="{{ url_for('page.stop_area', stop_area_code=stop.stop_area.code) }}">View all stops around {{ stop.stop_area.name }}</a></p>
{% endif %}
{% endblock %}