{% extends "base.html" %}
{% block title %}Bus Stop - {{ naptan_code }}{% endblock %}
{% block content %}
    {% set locality = stop.locality %}
    {% set district = locality.district if locality.district is not none else none %}
    <h1>Bus stop &mdash; {{ naptan_code }}</h1>
    <p>
        This is the page for the {{ stop.stop_type }} stop {{ stop.desc_common if stop.desc_short is none else stop.desc_short }} {{ "(%s)"|format(stop.desc_indicator) if stop.desc_indicator is not none }}{% if locality is not none %}, located in <a href="{{ url_for('list_stops_in_locality', locality_code=locality.nptg_locality_code) }}">{{locality.locality_name }}</a>{% if district is not none %}, <a href="{{ url_for('list_localities_in_district', district_code=district.nptg_district_code) }}">{{ district.district_name }}</a>{% endif %}{% endif %}.
    </p>
    {% if times is not none %}
        <p>Live bus times as of {{ times["request_time"] }}:</p>
        <table>
            <tr>
                <th>Bus</th>
                <th>Destination</th>
                <th>Expected</th>
                <th></th>
                <th>Operator</th>
            </tr>
            {% for bus in times["departures"]["all"] %}
                <tr>
                    <td>{{ bus["line"] }}</td>
                    <td>{{ bus["direction"] }}</td>
                    <td>{{ bus["expected_departure_time"] if bus["expected_departure_time"] is not none else bus["aimed_departure_time"] }}</td>
                    <td>{{ "Live" if bus["expected_departure_time"] is not none }}</td>
                    <td>{{ bus["operator_name"] if bus["operator_name"] is not none else "" }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No live data found.</p>
    {% endif %}
{% endblock %}