{% import 'functions.html' as f %}
{% extends "base.html" %}
{% block title %}{{ stop_area.name }}{% endblock %}

{% block nav %}
<ul class="breadcrumbs trailing">
    <li><a href="{{ url_for('page.list_regions') }}">All regions</a></li>
    <li><a href="{{ url_for('page.list_in_area', area_code=stop_area.admin_area.code) }}">{{ stop_area.admin_area.name }}</a></li>
    {% if stop_area.locality.district is not none %}
    <li><a href="{{ url_for('page.list_in_district', district_code=stop_area.locality.district.code) }}">{{ stop_area.locality.district.name }}</a></li>
    {% endif %}
    <li><a href="{{ url_for('page.list_in_locality', locality_code=stop_area.locality.code) }}">{{ stop_area.locality.name }}</a></li>
</ul>
{% endblock %}

{% block heading %}
<h1>{{ stop_area.name }}</h1>
{% endblock %}

{% block content %}
<div class="heading-inline">
    <h2>Map</h2>
    <button id="buttonShowMap" class="small-button" type="button" onclick="" value="show">show</button>
</div>
<div class="google-maps-js" id="divMap"></div>
<h2>Stops</h2>
{% if list_stops|length > 0 %}
<div class="list list-stops-services">
    {% for stop in stop_area.stop_points %}
    <div id="stop{{ stop.atco_code }}" class="item-stop-services">
        <div class="item-stop-services-row">
            <div class="item-stop-services-head">
                <div class="indicator stop-ind {{ f.stop_css_class(stop) }}"><span>{{ stop.short_ind|default('') }}</span></div>
                <div class="stop-label">{{ stop.name }}</div>
            </div>
            <a href="{{ url_for('page.stop_atco', atco_code=stop.atco_code) }}" class="item-arrow"></a>
        </div>
        <div class="item-stop-services-content">
            <p>
                {% set pipe = joiner() %}
                {% if stop.street is not none %}{{ pipe() }}<strong>{{ stop.street }}</strong>{% endif %}<!--
             -->{% if stop.naptan_code is not none %}{{ pipe() }}SMS code <strong>{{ stop.naptan_code }}</strong>{% endif %}
            </p>
            <div class="heading-inline">
                <h2 class="stop-live-time">Retrieving live data...</h2>
                <span class="stop-live-countdown"></span>
            </div>
            <div class="stop-live-services"></div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No stops found.</p>
{% endif %}
{{ f.resize_indicator("stop-ind") }}
<script>
    let area = {{ stop_area._asdict()|tojson }};
    let listStops = {{ list_stops|tojson }};

    var live = new ListLiveStops(
        "{{ url_for('api.stop_get_times') }}", listStops
    );
    live.init();

    var showButton = document.getElementById("buttonShowMap");
    var mapDiv = document.getElementById("divMap");
    var map = new MultiStopMap(mapDiv, area, listStops, false, live.markerSelectStop);
    var elem = new AddMapElements(map, mapDiv, showButton);
    elem.setupMap();
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4z8yZknfpA57bRuTky5jC1rKtS_Phd-0&callback=map.setReady"></script>
{% endblock %}