{% extends 'base.html' %}
{% import 'functions.html' as f %}

{% block title %}{{ service.line }}: {{ service.description }}{% endblock %}

{% block content %}
<nav>
  <ul class="breadcrumbs breadcrumbs-trailing">
    <li><a href="{{ url_for('page.list_regions') }}">All regions</a></li>
  </ul>
</nav>
<main>
  <h1 class="heading-service">
    <span class="line-outer"><span class="line{{ ' area-%s'|format(service.admin_area.code) if service.admin_area }}">{{ service.line }}</span></span>
    <span>{{ service.description }}</span>
  </h1>
  <p>{{ service.mode_name.capitalize() }} service{% if service.operators|length > 0 %} operated by {{ f.print_inline(service.operators|map(attribute='name')|sort) }}{% endif %}</p>
  <div class="actions">
    <a class="action" href="{{ url_for('page.show_map_service_direction', service_id=service.id, reverse=reverse) }}" title="View on map">Map</a>
  </div>

  <ul class="tabs tabs-3">
    {% set date = select_date.date.data if not is_today else none %}
    {% if mirrored and not reverse -%}
    <li><div class="tab tab-active">Outbound</div></li>
    <li><a class="tab" href="{{ url_for('.service_timetable', service_id=service.id, reverse=true, date=date) }}">Inbound</a></li>
    {%- elif mirrored -%}
    <li><a class="tab" href="{{ url_for('.service_timetable', service_id=service.id, reverse=false, date=date) }}">Outbound</a></li>
    <li><div class="tab tab-active">Inbound</div></li>
    {%- endif %}
    <li><a class="tab" href="{{ url_for('page.service', service_id=service.id, reverse=reverse) }}">Diagram</a></li>
  </ul>

  <section id="timetable">
    <h3>Timetable</h3>
    <div class="inline">
      <p style="margin-right: 10px;">{{ display_long_date(select_date.date.data) }}</p>
      <form method="GET" action="" class="form">
        <label>Change date</label>
        {{ select_date.date() }}
        <button title="Go to timetable for this date" type="submit">Go</button>
      </form>
    </div>
    {% if select_date.errors -%}
    {%- for e in select_date.errors.date %}
    <p>{{ e }}</p>
    {%- endfor -%}
    {%- endif %}

    {% if timetable -%}
    <div class="timetable-wrapper">
      <table class="timetable" id="tt">
        {% if timetable.notes -%}
        <tr class="timetable-head">
          <th></th>
          {% for h in timetable.head -%}
          <td>{% if h[2] is not none %}{{ h[2] }}{% endif %}</td>
          {%- endfor %}
          <td class="timetable-last"></td>
        </tr>
        {% endif %}
        {% if timetable.operators -%}
        <tr class="timetable-head">
          <th></th>
          {%- for h in timetable.head %}
          <td>{% if h[1] is not none %}{{ h[1] }}{% endif %}</td>
          {%- endfor %}
          <td class="timetable-last"></td>
        </tr>
        {% endif %}
        {%- set timing = namespace(first=false, last=true) -%}
        {%- for r in timetable.rows %}
        {%- set stop = timetable.stops[r.stop] -%}
        {%- if r == timetable.timed_rows|first -%}{%- set timing.first = true -%}{%- endif -%}
        {%- if r == timetable.timed_rows|last -%}{%- set timing.last = false -%}{%- endif -%}
        {%- set row_class = ' timetable-row-timed' if r.timing else (' timetable-row-hidden' if timing.first and timing.last else '') -%}
        <tr class="timetable-row{{ row_class }}">
          <th>
            <a href= "{{ url_for('page.stop_atco', atco_code=stop.atco_code) }}" class="timetable-stop">
              <span class="timetable-label">{{ stop.locality.name }}, {{ stop.name }}</span>
              <span class="timetable-ind">{{ f.print_stop_indicator(stop) }}</span>
            </a>
          </th>
          {%- for t in r.times %}
          <td{% if t.timing %} class="timetable-bold"{% endif %}>
            {%- if t.arrive and t.depart and t.arrive != t.depart -%}
            <span>a {{ t.arrive }}</span> <span>d {{ t.depart }}</span>
            {%- elif t.arrive or t.depart -%}
            {{ t.arrive or t.depart}}
            {%- endif -%}
          </td>
          {%- endfor %}
          <td class="timetable-last"></td>
        </tr>
        {%- endfor %}
      </table>
    </div>
    {% if timetable.operators|length and timetable.notes|length -%}
    <h4>Operators & notes</h4>
    {%- elif timetable.operators|length -%}
    <h4>Operators</h4>
    {%- elif timetable.notes|length -%}
    <h4>Notes</h4>
    {%- endif %}
    {% if timetable.operators|length -%}
    <dl class="description-list">
      {%- for c, n in timetable.operators|dictsort(by='value') %}
      <dt><strong>{{ c }}</strong></dt>
      <dd>{{ n }}</dd>
      {%- endfor %}
    </dl>
    {%- endif %}
    {% if timetable.notes|length -%}
    <dl class="description-list">
      {%- for c, t in timetable.notes|dictsort(by='value') %}
      <dt><strong>{{ c }}</strong></dt>
      <dd>{{ t }}</dd>
      {%- endfor %}
    </dl>
    {%- endif %}
    {%- elif not select_date.errors -%}
    <p>No services run on this day.</p>
    {%- elif not timetable.sequence -%}
    <p>No stops found for this service.</p>
    {%- endif %}
  </section>
  {% if operators -%}
  <section class="card">
    <h2>Operators</h2>
    <div class="operators">
      {%- for o in operators %}
      <div>
        <h3>{{ o.name }}</h3>
        {% if o.address -%}
        <p>{{ o.split_address|join('<br>'|safe) }}</p>
        {%- endif %}
        {% if o.website or o.email or o.twitter -%}
        {% set break = joiner('<br>'|safe) -%}
        <p>
          {% if o.website %}{{ break() }}<a href="{{ o.website }}">{{ o.website }}</a>{% endif %}
          {% if o.email %}{{ break() }}<a href="mailto:{{ o.email }}">{{ o.email }}</a>{% endif %}
          {% if o.twitter %}{{ break() }}<a href="https://twitter.com/{{ o.twitter[1:] if o.twitter.startswith('@') else o.twitter }}">{{ o.twitter }}</a>{% endif %}
        </p>
        {%- endif %}
      </div>
      {%- endfor %}
    </div>
  </section>
  {%- endif %}
</main>
{% endblock %}

{% block script %}
<script>
function addRowEvent(group) {
    let action = group.current.querySelector('td:last-child');
    let hidden = true;
    let toggleRow = function(row) {
        if (hidden) {
            row.classList.add('timetable-row-hidden');
        } else {
            row.classList.remove('timetable-row-hidden');
        }
    };
    let expandText = 'Expand group of stops',
        hideText = 'Hide group of stops';
    if (group.next.length > 0) {
        action.textContent = '+';
        action.title = 'Expand group of stops';
        action.classList.add('timetable-action');
        action.onclick = function() {
            hidden = !hidden;
            group.next.forEach(toggleRow);
            action.textContent = (hidden) ? '+' : '−';
            action.title = (hidden) ? expandText : hideText;
        }
    }
}
function setUpRowEvents(timetable, groups) {
    let table = document.getElementById(timetable);
    if (table != null) {
        let rows = table.getElementsByTagName('tr'),
            i, row;
        for (i = 0; i < rows.length; i++) {
            row = rows[i];
            if (row.classList.contains('timetable-row-timed')) {
                groups.push({current: row, next: []});
            } else if (groups.length > 0) {
                groups[groups.length - 1].next.push(row);
            }
        }
        // If last few rows are not timed - don't need to group them
        if (groups.length > 0 && groups[groups.length - 1].next.length > 0) {
            groups.splice(-1, 1);
        }
        for (i = 0; i < groups.length; i++) {
            addRowEvent(groups[i]);
        }
    }
}

let groups = [];
window.addEventListener('load', function() {
    resizeIndicator('.indicator');
    setUpRowEvents('tt', groups);
});
</script>
{% endblock %}
