[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
lxml = "*"
"psycopg2" = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"


[dev-packages]

pylint = "*"
"e1839a8" = {path = ".", editable = true}


[requires]

python_version = "3.6"
