[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
lxml = "*"
"psycopg2" = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
"nextbus" = {path = ".", editable = true}
gunicorn = "*"

[dev-packages]
pylint = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.7"
