/*
 * nxb CSS; copyright Ewan Macpherson 2017-19
 */

html {
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
  color: #212121;
}


/* BASE ELEMENTS */

h1 {
  margin: 0.6em 0;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
}

h2 {
  margin: 0.5em 0;
  padding: 0.3em 0;
  border-bottom: 0.12rem solid #212121;

  font-size: 2.4rem;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 2.4rem;
  letter-spacing: -0.02em;
  margin: 0.5em 0;
}

h4 {
  font-size: 1.8rem;
  letter-spacing: -0.01em;
  margin: 0.5em 0;
}

p {
  font-size: 1.5rem;
  line-height: 1.6em;
}

a {
  padding: 0;
  background-color: transparent;
  border-width: 0.12rem;
  border-style: none none solid;
  border-color: #212121;

  color: #212121;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s border-color ease-out;
}

a:hover {
  border-color: #FF9800;
}

a:visited {
  color: inherit;
}

input,
button,
label {
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 1.25em;
}

button,
input[type="submit"],
input[type="file"] {
  min-width: 2.5em;
  padding: 0.6rem 1rem;
  display: inline-block;
  box-sizing: border-box;

  background-color: transparent;
  border: 0.12rem solid #212121;
  border-radius: 0;
  outline: none;

  font-size: 1.5rem;
  font-weight: 700;
  color: #212121;
  transition:
    0.2s background-color ease-out,
    0.2s color ease-out;
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover,
input[type="file"]:hover {
  background-color: #212121;
  color: white;
}

input:not([type="submit"]):not([type="file"]) {
  padding: 0.6rem 0;
  background-color: transparent;
  border-width: 0.12rem;
  border-style: none none solid;
  border-color: #212121;
  border-radius: 0;
  outline: none;
  min-width: 0; /* Override width set by browser */

  transition: 0.2s border-color ease-out;
}

input:not([type="submit"]):not([type="file"]):focus {
  border-color: #FF9800;
}

input:invalid {
    box-shadow: none;
}

::placeholder {
  color: #9E9E9E;
  opacity: 1;
}
::-webkit-input-placeholder {
  color: #9E9E9E;
  opacity: 1;
}
:-moz-placeholder {
  color: #9E9E9E;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #9E9E9E;
  opacity: 1;
}


/* FORM */

.form {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  margin: 1rem 0;
}

.form > input:not([type="submit"]):not([type="file"]) {
  flex: auto;
}

.form > button,
.form > input[type="submit"],
.form > input[type="file"] {
  margin-left: 1rem;
  flex: none;
}

.form > label {
  margin-right: 1rem;
  flex: none;
}

/* LAYOUT ELEMENTS */

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  max-width: 96rem;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: white;
}

header {
  flex: none;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 4.8rem;
  background-color: white;
  z-index: 2000;
}

header a {
  padding: 0 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-decoration: none;

  color: #212121;
  transition:
    0.2s background-color ease-out,
    0.2s color ease-out;
}

header a:first-child {
  margin-right: auto;
  font-size: 2.4rem;
  font-weight: 400;
}

header a:hover {
  background-color: #212121;
  color: white;
}

nav {
  flex: none;
  width: calc(100% - 3.2rem);
  margin: 0;
  padding: 0 1.6rem;
}

main {
  flex: auto;
  width: calc(100% - 3.2rem);
  margin: 0;
  padding: 0 1.6rem;
}

footer {
  flex: none;
  width: calc(100% - 3.2rem);
  margin: 2.4rem 0 0 0;
  padding: 0 1.6rem;
}

section {
  clear: both;
  margin: 2.4rem 0;
}


/* CENTERED TEXT */

.text-middle {
  text-align: center;
}


/* WIDTH-RESTRICTED CONTENT */

.body-narrow > main {
  display: flex;
  flex-direction: column;
}

.body-narrow > main > div {
  margin: -2.4rem 0;
}

.body-index > header {
  position: static;
}

.body-index > main > h1 {
  text-align: center;
  margin-bottom: 1.33em;
}


/* ACTIONS */

.actions {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: flex-end;
  font-size: 1.5rem;
  margin: -0.5rem -0.5rem;
}

.actions > * {
  margin: 0.5rem;
}

.action {
  min-width: 2.2em;
  padding: 0.6rem 1rem;
  display: inline-block;
  box-sizing: border-box;

  background-color: transparent;
  border: 0.12rem solid white;

  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25em;
  text-align: center;
  color: #212121;
  transition:
    0.2s background-color ease-out,
    0.2s color ease-out,
    0.2s border-color ease-out;
  cursor: pointer;
}

.action:hover {
  background-color: #212121;
  border-color: #212121;
  color: white;
}

/* OVERLAY DIALOG / MENU */

.body-with-overlay {
  overflow: hidden;
}

.overlay {
  z-index: 2400;
  visibility: collapse;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #000E;
  transition:
    0.2s opacity ease-out,
    0.2s visibility;
}

.overlay-visible {
  visibility: visible;
  opacity: 1;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0;
  max-width: 96rem;
  width: 100%;
  color: white;
  transition: 0.2s transform ease-out;
}

.overlay-content-dialog {
  top: 50%;
  padding: 1rem 1.6rem;
  max-width: 64rem;
  max-height: calc(100% - 2rem);
  width: calc(100% - 3.2rem);
  transform: translate(-50%, -50%) scale(0.95);
}

.overlay-visible > .overlay-content-dialog {
  transform: translate(-50%, -50%);
}

.overlay-content-body {
  padding: 0 1.6rem;
  margin: 4rem auto 0;
  max-width: 64rem;
  width: calc(100% - 3.2rem);

  transform: translate(0, -1rem);
  transition: 0.2s transform ease-out;
}

.overlay-visible .overlay-content-body {
  transform: none;
}

.overlay-button {
  float:right;
  margin: 0.5rem 0 0.5rem 1rem;
}


/* OVERLAY CHILD ELEMENTS */

.overlay-content a {
  border-color: white;
  color: white;
}

.overlay-content a:hover {
  border-color: #FF9800;
}

.overlay-content button,
.overlay-content input[type="submit"],
.overlay-content input[type="file"] {
  border-color: white;
  color: white;
}

.overlay-content button:hover,
.overlay-content input[type="submit"]:hover,
.overlay-content input[type="file"]:hover {
  background-color: white;
  color: #212121;
}

.overlay-content input:not([type="submit"]):not([type="file"]) {
  border-color: white;
  color: white;
}

.overlay-content input:not([type="submit"]):not([type="file"]):focus {
  border-color: #FF9800;
}

.overlay-content header {
  position: static;
  background-color: transparent;
}

.overlay-content header a {
  background-color: transparent;
  color: white;
}

.overlay-content header a:hover {
  background-color: white;
  color: #212121;
}

.overlay-content .action {
  border-color: transparent;
  color: white;
}

.overlay-content .action:hover {
  border-color: white;
  background-color: white;
  color: #212121;
}

.overlay-content .list {
  margin: 1rem -1rem;
  padding: 0;
  width: calc(100% + 2rem);
  list-style: none;
  column-width: auto;
  column-span: none;
  column-gap: 0;
}

.overlay-content .item {
  background-color: transparent;
  color: white;
}

.overlay-content .item:hover {
  background-color: white;
  color: #212121;
}

.overlay-content .item .icon-shape {
  fill: white;
}

.overlay-content .item:hover .icon-shape {
  fill: #212121;
}


/* COLUMN LAYOUT */

.columns {
  clear: both;
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
}

.columns > div {
  /* Make sure columns don't stretch to fit content, eg timetables */
  min-width: 0;
}

.columns > div > section:first-child {
  margin-top: 0;
}


/* LISTS */

.dashed-list {
  margin: 10px 0;
  padding-left: 20px;
  list-style-type: none;
  font-size: 1.5rem;
  line-height: 1.5em;
}

.dashed-list > li {
  margin: 5px 0;
}

.dashed-list > li:before {
  content: '\2013';
  position: absolute;
  margin-left: -1.1em;
}

.description-list {
  margin: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.5em;
}

.description-list > dt {
  float: left;
  clear: left;
  width: 5.6rem;
  margin-right: 1rem;
  text-align: right;
}


/* LIST OF LINKS */

.links {
  display: block;
  margin: 2rem 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.6em;
}

.links > li {
  display: inline;
  white-space: nowrap;
}

.links > li:not(:last-child):after {
  content: ' | ';
}


/* NAVIGATION */

.breadcrumbs {
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
}

.breadcrumbs > li {
  display: inline;
  white-space: nowrap;
  line-height: 1.5em;
}

.breadcrumbs > li:last-child:after {
  content: '';
}

.breadcrumbs > li:after,
.trailing > li:last-child:after {
  content: ' \2192';
}


/* TABS */

.tabs {
  width: calc(100% + 3.2rem);
  margin: 3.2rem -1.6rem 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  list-style: none;
}

.tabs-1 > li {
  flex: 0 0 calc(100% - 3.2rem);
}

.tabs-2 > li {
  flex: 0 0 calc((100% - 3.2rem) / 2);
}

.tabs-3 > li {
  flex: 0 0 calc((100% - 3.2rem) / 3);
}

.tabs-4 > li {
  flex: 0 0 calc((100% - 3.2rem) / 4);
}

.tabs-5 > li {
  flex: 0 0 calc((100% - 3.2rem) / 5);
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0.5rem;
  border-width: 0.12rem;
  border-color: #212121;

  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;

  background-color: white;
  color: inherit;
}

.tab:not(.tab-active) {
  border-style: none none solid;
  transition:
    0.2s background-color ease-out,
    0.2s color ease-out;
  cursor: pointer;
}

.tab:not(.tab-active):hover {
  background-color: #212121;
  border-color: #212121;
  color: white;
}

.tab.tab-active {
  border-style: solid solid none;
  font-weight: 700;
}

.tabs::before {
  flex: 0 0 1.6rem;
  border-bottom: 0.12rem solid #212121;
  content: '';
}

.tabs::after {
  flex: 1;
  border-bottom: 0.12rem solid #212121;
  content: '';
}


/* STOP INDICATOR */

.indicator {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.0em;
  height: 3.0em;
  padding: 0.2em;
  background-color: #002171;
  border: 0.1em solid #002171;
  border-radius: 1.8em;
  color: white;
  text-align: center;
}

.indicator > span {
  font-size: 1em;
  font-weight: 700;
}

.indicator-1 > span {
  font-size: 2.4em;
  font-weight: 600;
}

.indicator-2 > span {
  font-size: 1.9em;
  font-weight: 600;
}

.indicator-3 > span {
  font-size: 1.5em;
  font-weight: 700;
}

.indicator-4 > span {
  font-size: 1.2em;
  font-weight: 700;
}


/* LINE */

.line-outer {
  flex: none;
  display: flex;
  justify-content: center;
  min-width: 4.8em;
  max-width: 12.8em;
}

.line-outer-inline {
  display: inline-flex;
  margin: 0.2rem 0;
  min-width: 5.4em;
  max-width: none;
  font-size: 0.75rem;
}

.line {
  width: 100%;
  padding: 0.25em;
  background-color: #002171;

  text-align: center;
  text-transform: capitalize;
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: -0.02em;
  color: white;
}

.line-small {
  padding: 0.375em;
  font-size: 1.2em;
}


/* INDICATOR COLOURS (USES NPTG ADMIN AREA CODE) */

.area-011 {
    background-color: #058B88;
    border-color: #058B88;
}

/* Nottingham */
.area-039 {
    background-color: #00594D;
    border-color: #00594D;
}

/* London */
.area-082 {
    background-color: #DC241F;
    border-color: #DC241F;
}

/* Greater Manchester */
.area-083 {
    background-color: #40403E;
    border-color: #40403E;
}

/* Merseyside */
.area-090 {
    background-color: #EFE000;
    border-color: #EFE000;
    color: #333333;
}

/* West Yorkshire */
.area-107 {
    background-color: #06417E;
    border-color: #06417E;
}

/* Edinburgh */
.area-124 {
    background-color: #761315;
    border-color: #761315;
}

/* Glasgow */
.area-127 {
    background-color: #FF6200;
    border-color: #FF6200;
}

/* Trams */
.area-147 {
    background-color: #696969;
    border-color: #696969;
}

/* HEADING WITH STOP */

.heading-stop {
  display: flex;
  align-items: center;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.heading-stop > span {
  margin: 0 0.75rem;
}

.heading-stop > .indicator {
  font-size: 1.5rem;
}

.heading-stop + p {
  margin: -2rem 0 1rem calc(1.5 * 3.6rem + 1.5rem);
}


/* HEADING WITH SERVICE LINE */

.heading-service {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.5em -0.75rem;
}

.heading-service > span {
  margin: 0.5rem 0.75rem;
}

.heading-service > .line-outer {
  font-size: 1.5rem;
  max-width: calc(100% - 2rem);
}

.heading-service + p {
  margin: 0 0 1rem;
}


/* H2 HEADING WITH ITEMS */

.h2-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: calc(2.4 * 0.5rem) 0;
  padding: calc(2.4 * 0.3rem) 0;
  border-bottom: 0.12rem solid #212121;
}

.h3-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: calc(2.4 * 0.5rem) 0;
}

.h2-inline > *,
.h3-inline > * {
  padding: 0;
  margin: 0;
}

.h2-inline > h2 {
  border: none;
}


/* INLINE ELEMENTS */

.inline {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.inline > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


/* LIST OF ITEMS */

.list {
  margin: 1rem -1rem;
  padding: 0;
  width: calc(100% + 2rem);
  list-style: none;
  column-width: auto;
  column-span: none;
  column-gap: 0;
}

.list-relative {
  position: relative;
}

.list-actions > li {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.list-places {
  column-width: 20rem;
}

.list-stops {
  column-width: 28rem;
}

.list-services {
}

.item {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  /* Prevent elements breaking up between columns */
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  border: none;

  color: inherit;
  text-decoration: none;
  line-height: 1em;
  cursor: pointer;

  transition:
    0.2s background-color ease-out,
    0.2s color ease-out;
}

.item:hover {
  background-color: #212121;
  color: white;
}

.item-multiline {
  flex-direction: column;
  align-items: flex-start;
}

.item-multiline > span {
  display: flex;
  width: 100%;
  align-items: center;
}

.item-multiline > p {
  margin: 0 0 0.5rem calc(3.6rem * 0.9 + 1rem);
  font-size: 1.3rem;
  line-height: normal;
}

.item-place {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.6rem;
}

.item-stop .indicator {
  font-size: 0.9rem;
}

.item-service-stop {
  z-index: 0;
}

.item-service-stop > .item-multiline {
  z-index: 2;
}

.item-service-stop > .item-multiline > p {
  margin-left: 0;
}

.item-service-stop-empty:hover {
  background: transparent;
  cursor: auto;
}

.item-service-stop-empty .indicator {
  background: transparent;
  border-color: transparent;
}

.item-tall {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 2rem;
}

.item-label {
  flex: 1 1 auto;
  margin-left: 1rem;
  font-size: 1.6rem;
  line-height: 1em;
}

.item-label-small {
  font-size: 1.3rem;
}

.item-label-distance {
  flex: 0 0 5.4rem;
  text-align: right;
}

.item-action {
  flex: none;
  font-size: 1.6rem;
}

.item .icon {
  width: 2.4rem;
  height: 2.4rem;
}

.item .icon-shape {
  fill: #212121;
  transition: 0.2s fill ease-out;
}

.item:hover .icon-shape {
  fill: white;
}


/* FILTER LIST */

.filter-list {
  position: relative;
  font-size: 1.5rem;
}

.filter-input {
  width: calc(100% - 1rem);
  padding: 0.25rem 1rem 0.25rem 0;
  cursor: pointer;

  border-width: 0.12rem;
  border-style: none none solid;
  border-color: #212121;
}

.filter-input::before {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  font-size: 1rem;
  content: '\25BC';
}

.filter-default {
  display: inline-block;
  margin: calc(0.075rem + 0.25rem + 0.25rem) 0;
  font-size: 1.5rem;
  color: #9E9E9E;
}

.filter-selected {
  display: inline-block;
  margin: 0.25rem 0.5rem 0.25rem 0;
  padding: 0.25rem 0.5rem;

  border: 0.12rem solid #212121;
  font-weight: 600;

  transition:
    0.2s border-color ease-out,
    0.2s background-color ease-out,
    0.2s color ease-out;
}

.filter-selected:not(.filter-selected-disabled)::after {
  content: ' \2717';
}

.filter-selected:not(.filter-selected-disabled):hover {
  border-color: #212121;
  background-color: #212121;
  color: white;
}

.filter-selected-disabled {
  cursor: default;
}

.filter-selected-disabled:hover {
  border-color: inherit;
}


.filter-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 24rem;
  height: 0;
  overflow-y: auto;
  box-sizing: border-box;

  border-width: 0.12rem;
  border-color: #212121;
  border-style: none solid solid;
  background-color: white;
  transition: 0.2s height ease-out;
}

.filter-menu-hidden {
  border-bottom-style: none;
}

.filter-menu-item {
  display: block;
  padding: 0.75rem 1rem;
  border: none;
  transition:
    0.2s background-color ease-out,
    0.2s color ease-out;
}

.filter-menu-item-disabled {
  cursor: default;
  color: #9E9E9E;
}

.filter-menu-item:not(.filter-menu-item-disabled):hover {
  background-color: #212121;
  color: white;
}


/* DEPARTURES */

.departures-container {
  min-height: 12rem;
}

.departures {
  table-layout: auto;
  border-collapse: collapse;
  width: calc(100% + 1rem);
  margin: 0 -0.5rem 1rem;
}

.departures tr > td {
  padding: 0.8rem 0.5rem;
}

.departures tr > td:nth-child(1) {
  width: 4.8rem;
}

.departures tr > td:nth-child(2) {
  font-size: 1.6rem;

}

.departures tr > td:nth-child(3) {
  font-size: 1.3rem;
}

.departures tr > td:nth-child(4) {
  display: none;
  font-size: 1.3rem;
}

.departures tr > td:nth-child(5) {
  min-width: 5.4rem;
}

.departures tr > td:nth-child(5) > span:nth-of-type(1) {
  font-size: 1.7rem;
  font-weight: 700;
}

.departures tr > td:nth-child(5) > span:nth-of-type(2)  {
  font-size: 1.5rem;
}

.departures tr > td:nth-child(5) > span:nth-of-type(2) > span {
  white-space: nowrap;
}

.departure-live {
  color: #2E7D32;
}

.departure-estimated {
  color: #C62828;
}

.countdown {
  font-size: 1.5rem;
  font-weight: 400;
  font-feature-settings: 'tnum';
}

/* DIAGRAM */

.diagram {
  position: absolute;
  z-index: 1;
}

/* SERVICE TIMETABLE */

.timetable-wrapper {
  margin: 1.6rem -1.6rem;
  overflow-x: auto;
  overflow-y: visible;
}

.timetable {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 1.5rem;
  text-align: right;
}

.timetable-row-hidden {
  display: none;
}

.timetable th {
  width: 18rem;
  min-width: 18rem;
  padding: 0.5rem;

  position: sticky;
  left: 0;
  z-index: 2;
  background: white;

  font-weight: 400;
}

.timetable-row-major > th {
  font-weight: 600;
}

.timetable td {
  width: 5.6rem;
  min-width: 5.6rem;
  padding: 0.5rem;
  z-index: 1;
}

.timetable-row > td {
  font-variant-numeric: tabular-nums;
  letter-spacing: -0.01em;
}

.timetable th > span,
.timetable td > span {
  white-space: nowrap;
}

.timetable-bold {
  font-weight: 600;
  letter-spacing: -0.03em !important;
}

.timetable-last {
  position: sticky;
  right: 0;
  min-width: auto !important;;

  background-color: white;
  text-align: center;
  font-size: 2rem;
  transition:
    0.2s background-color ease-out,
    0.2s color ease-out;
}

.timetable-action {
  width: 4.4rem !important;
  min-width: 4.4rem !important;
  cursor: pointer;
}

.timetable-action:hover {
  background: #212121;
  color: white;
}

.timetable-stop {
  display: flex;
  align-items: center;
  border: none;
}

.timetable-label {
  flex: 1;
  margin-right: 0.5rem;
}

.timetable-ind {
  flex: none;
  font-size: 0.7rem;
}

/* LIST OF OPERATORS */

.operators {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.operators > div {
  flex: 1 0 24rem;
  margin: 0 1rem;
  overflow: hidden;
}

.operators > div > p {
  margin: 0.5em 0;
  padding: 0.5em 0;
  overflow-x: hidden;

  line-height: 1.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* MAP */

.body-map {
  max-width: none;
}

.body-map > header {
  background-color: #212121;
}

.body-map > header a {
  color: white;
}

.body-map > header a:hover {
  background-color: white;
  color: #212121;
}

.body-map > main {

}

.body-map > footer {
  
}

.body-map .overlay-content {
  max-width: none;
}

.body-map .overlay-content-dialog {
  max-width: 64rem;
}

.map {
  flex: 1 1 70vh;
}


/* LEAFLET STYLE OVERRIDES */

.leaflet-bar,
.leaflet-bar a{
  border-radius: 0 !important;
}

.leaflet-control-attribution {
  font-family: 'Inter', sans-serif;
}

.leaflet-control-custom {
  font-family: 'Inter', sans-serif;
}

.leaflet-control-custom > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaflet-control-custom > a:hover {
  display: flex;
}


/* Leaflet icons, using Google Material UI SVGs */

.icon-zoom-in::after {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>');
  width: 24px;
  height: 24px;
  content: '';
}

.icon-zoom-out::after {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M19 13H5v-2h14v2z"/></svg>');
  width: 24px;
  height: 24px;
  content: '';
}

.icon-my-location::after {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/></svg>');
  width: 24px;
  height: 24px;
  content: '';
}

.icon-fit-map::after {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M15 3l2.3 2.3-2.89 2.87 1.42 1.42L18.7 6.7 21 9V3h-6zM3 9l2.3-2.3 2.87 2.89 1.42-1.42L6.7 5.3 9 3H3v6zm6 12l-2.3-2.3 2.89-2.87-1.42-1.42L5.3 17.3 3 15v6h6zm12-6l-2.3 2.3-2.87-2.89-1.42 1.42 2.89 2.87L15 21h6v-6z"/></svg>');
  width: 24px;
  height: 24px;
  content: '';
}


/* MAP MARKERS */

.marker {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  transition: font-size 0.2s ease-out;
}

.marker:hover {
  font-size: 1.2rem;
}

.indicator-marker {
  transform: translate(-50%, -50%);
  border: none;
}

.indicator-arrow::before {
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  width: 1.7em;
  height: 1.7em;
  background: inherit;
  transform-origin: bottom right;
  content: ''
}

.indicator-arrow-NW::before {
  transform: translate(-50%, -50%);
}

.indicator-arrow-N::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.indicator-arrow-NE::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.indicator-arrow-E::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.indicator-arrow-SE::before {
  transform: translate(-50%, -50%) rotate(180deg);
}

.indicator-arrow-S::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}

.indicator-arrow-SW::before {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.indicator-arrow-W::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}


/* WIDER VIEW */

@media screen and (min-width: 480px) {
  h1 {
    font-size: 3.6rem;
    font-weight: 600;
  }

  .body-narrow > main {
    margin: 0 auto;
    max-width: 64rem;
  }

  .body-index > main::before {
    flex: 1;
    content: '';
  }

  .body-index > main::after {
    flex: 2;
    content: '';
  }

  .tab {
    font-size: 1.5rem;
  }

  .departures tr > td:nth-child(3) {
    display: none;
  }

  .departures tr > td:nth-child(4) {
    display: table-cell;
  }
}

/* DESKTOP VIEW */

@media screen and (min-width: 720px) {
  .columns {
    flex-direction: row;
  }

  .columns > div:not(:first-child) {
    margin-left: 2rem;
  }

  .columns > div:not(:last-child) {
    margin-right: 2rem;
  }

  .column-1 {
    flex: 1;
  }

  .column-2 {
    flex: 2;
  }

  .column-3 {
    flex: 3;
  }

  .column-4 {
    flex: 4
  }
}

/* MAP DESKTOP VIEW */

@media screen and (min-width: 800px) {
  .body-map {
    display: grid;
    grid-template-rows: 4.8rem 1fr;
    grid-template-columns: 40rem 1fr;
    display: -ms-grid;
    -ms-grid-rows: 4.8rem 1fr;
    -ms-grid-columns: 40rem 1fr;
    width: 100%;
    height: 100vh;
  }

  .body-map > header {
    position: static;
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .body-map > .map {
    grid-row: 2;
    grid-column: 2;
  }

  .body-map > .map-panel {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .body-map > .map-panel > main {
    flex: auto;
    padding-top: 1rem;
  }

  .body-map .heading-stop > .indicator {
    font-size: 1.4rem;
  }

  .body-map .heading-stop + p {
    margin: -1.6rem 0 1rem calc(1.4 * 3.6rem + 1.5rem);
  }

  .body-map .heading-service > .line-outer {
    font-size: 1.4rem;
  }

  .body-map .departures tr > td:nth-child(3) {
    display: table-cell;
  }

  .body-map .departures tr > td:nth-child(4) {
    display: none;
  }

  .body-map > .map-panel > footer {
    flex: none;
  }

  .body-map h1 {
    font-size: 2.8rem;
    font-weight: 700;
  }
}

/* use Inter variable font if supported */

@supports (font-variation-settings: normal) {
  html,
  .marker {
    font-family: 'Inter var', sans-serif;
  }
}
