
/* core */
html {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 10px;
}
  
body {
    display: grid;
    grid-template-rows:
        [heading-top] 48px auto 1fr 48px;
    grid-template-columns:
        [left-outer] 1fr
        [left-inner] minmax(320px, 720px)
        [right-inner] 1fr
        [right-outer];
    width: 1fr;
    height: 100vh;
    box-sizing: border-box;
    background: whitesmoke;
}
  
p {
    margin: 5px 10px;

    font-size: 1.6rem;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: midnightblue;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    text-decoration-skip: ink;
    -webkit-text-decoration-skip: skip;
    cursor: pointer;
}

input {
    font-family: inherit;
}

button {
    border: none;
    /* required as Safari has its own default appearance */
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;

    font-family: inherit;
}


/* Page sections */
#divHeaderOuter, #divHeadingOuter, #divContentOuter, #divFooterOuter {
    grid-column: left-outer / right-outer;
    width: 100%;
    box-sizing: border-box;
}

#divHeader, #divHeading, #divContent, #divFooter {
    grid-column: left-inner / right-inner;
    width: 100%;
    box-sizing: border-box;
}

#divHeaderOuter {
    grid-row: 1 / 2;
    background: midnightblue;
}

#divHeader {
    grid-row: 1 / 2;
    padding: 10px;
}

#divHeadingOuter {
    grid-row: 2 / 3;
}

#divHeading {
    grid-row: 2 / 3;
}

#divContentOuter {
    grid-row: 3 / 4;
    background: white;
}

#divContent {
    grid-row: 3 / 4;
    padding: 10px 0;
}

#divFooterOuter {
    grid-row: 4 / 5;
    background: slategrey;
}

#divFooter {
    grid-row: 4 / 5;
    padding: 10px;
}

/* Header & footer */
header {
    font-size: 2.4rem;
    font-weight: 600;
    color: white;
}

footer {
    font-size: 1.6rem;
    color: white;
}

header > a, footer > a {
    color: inherit;
}

/* Headings */
h1 {
    margin: 20px 10px;

    font-size: 3rem;
    font-weight: 600;
}

h2 {
    margin: 16px 10px;

    font-size: 2rem;
}

h3 {
    margin: 12px 10px;

    font-size: 1.8rem;
}

/* Navigation */
ul.breadcrumbs {
    display: inline-block;
    margin: 5px 10px;
    padding: 0;
    list-style-type: none;

    font-size: 1.6rem;
}

ul.breadcrumbs > li {
/* Inline -> horiztonal list */
    display: inline;
    white-space: nowrap;
}

ul.breadcrumbs > li:not(:last-child):after, ul.trailing > li:last-child:after {
    content: " > ";
}

/**/
div.heading-stop {
    display: flex;
    margin: 10px 10px;
    align-items: center;
}

div.heading-stop > h1 {
    margin-top: 0;
    margin-bottom: 0;
}

div.heading-stop-indicator {
    font-size: 1.5em;
}

/* Subheading with inline elements */
div.heading-inline {
    margin: 16px 10px;
}

div.heading-inline > h2 {
    display: inline;
    margin: 0;
    margin-right: 10px;
}

div.heading-inline > span {
    font-size: 1.6rem;
}

div.heading-inline > button {
    display: inline-block;
    padding: 5px 6px;
    box-sizing: border-box;
    background: gainsboro;

    font-size: 1.6rem;
}

div.heading-inline > button:hover {
    background: lightgrey;
}

div.heading-inline > button:focus {
    background: midnightblue;
    color: white;
}

/* list of places */
div.list-places, div.list-stops, div.list-stops-dist, div.list-services, div.list-stops-services {
    display: grid;
    grid-column-gap: 5px;
    border-width: 1px 0;
    border-style: solid;
    border-color: gainsboro;
    background: whitesmoke;
}

div.list-places {
    /* 3-column layout */
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

div.list-stops {
    /* 2-column layout */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

div.list-stops-dist {
    grid-template-columns: 1fr;
}

div.list-stops-services {
    grid-template-columns: 1fr;
}

a.item-place {
    display: flex;
    padding: 2px 10px;
    min-height: 28px;
    /* Vertically centered text */
    align-items: center;

    color: black;
    font-size: 1.7rem;
    line-height: 1em;
}

a.item-stop {
    display: grid;
    grid-template-columns: 36px 1fr;
    grid-column-gap: 12px;
    padding: 5px 10px;
    /* Vertically centered text */
    align-items: center;
}

a.item-stop-dist {
    display: grid;
    align-items: center;
    grid-template-columns: 36px 1fr minmax(56px, 0.2fr);
    grid-column-gap: 12px;
    padding: 5px 10px;
}

div.item-stop-services-head {
    display: grid;
    align-items: center;
    grid-template-columns: 36px 1fr 36px;
    grid-column-gap: 12px;
    padding: 5px 10px;
}

div.item-stop-services-content {
    display: none;
    padding: 5px;
    background: white;
}

div.item-stop-services-show {
    
}

div.item-stop-services-show > div.item-stop-services-head {
    grid-template-columns: 54px 1fr 36px;
    font-size: 1.5rem;
}

div.item-stop-services-show > div.item-stop-services-content {
    display: block;
}

a.item-place:hover, a.item-stop:hover, a.item-stop-dist:hover, div.item-stop-services-head:hover {
    background: gainsboro;
    cursor: pointer;
    text-decoration: none;
}

div.stop-name {
    display: flex;
    align-items: center;

    line-height: 1.0em;
    font-size: 1.8rem;
    color: black;
}

div.item-stop-services-show > div.item-stop-services-head > div.stop-name {
    font-size: 2.7rem;
    font-weight: 600;
}

div.stop-dist {
    display: flex;
    align-items: center;

    line-height: 1.0em;
    font-size: 1.6rem;
    font-style: italic;
    color: black;
}

div.stop-arrow {
    display: flex;
    align-items: center;

    line-height: 1.0em;
    font-size: 3.2rem;
    color: black;
}

div.stop-arrow:after {
    content: "\203A";
}

div.stop-indicator {
    /* with flex:
        main axis is horizontal
        justify-content horiztonally centers content,
        align-items vertically centers content and
        text-align horiztonally centers multiline text.
    */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* 0.2 padding around 3.2 -> 3.6 with 1.8 radius for circle */
    height: 3.2em;
    width: 3.2em;
    padding: 0.2em;
    border-radius: 1.8em;
    background: midnightblue;

    color: white;
    /* text-transform: uppercase; */
    /* default settings; can be modified by ResizeInd() */
    font-size: 1em;
    font-weight: 700;
}

span.ind-len1 {
    font-size: 2.4em;
    font-weight: 600;
}

span.ind-len2 {
    font-size: 1.9em;
    font-weight: 600;
}

span.ind-len3 {
    font-size: 1.5em;
    font-weight: 600;
}

span.ind-len4 {
    font-size: 1.2em;
}

/* list of services */
div.list-services {
    grid-template-columns:
        minmax(48px, auto)
        1fr
        minmax(56px, 0.25fr)
        minmax(64px, 0.30fr);
    grid-gap: 5px 10px;
    padding: 5px 10px;
}

div.list-services > div {
    display: flex;
    min-height: 32px;
    align-items: center;
}

div.row-service-line {
    max-width: 96px;
}

div.row-service-line-inner {
    display: flex;
    width: 100%;
    min-height: 32px;
    padding: 5px 10px;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;
    text-align: center;

    background: midnightblue;

    line-height: 1.0em;
    text-transform: capitalize;
    word-wrap: break-word;
    color: white;
    font-size: 2rem;
}

div.row-service-line-small {
    font-size: 1.75rem;
    font-weight: 600;
}

div.row-service-dest {
    line-height: 1.0em;
    font-size: 1.7em;
}

div.row-service-exp {
    font-size: 1.7em;
    font-weight: 600;
}

div.row-service-after {
    flex-wrap: wrap;
    font-size: 1.4em;
}

div.row-service-after > span {
    white-space: nowrap;
    margin: 0.1em;
}

span.text-green {
    color: green;
}

span.text-red {
    color: red;
}

div.search-box {
    margin: 0 10px;
}

/* specific colours for areas, using ATCO area codes */
/* Greater Manchester */
div.area-color-180 {
    background: rgb(64, 64, 62);
}

/* Merseyside */
div.area-color-280 {
    background: rgb(239, 224, 0);
    color: rgb(51, 51, 51);
}

/* Nottingham */
div.area-color-339 {
    background: rgb(0, 89, 77);;
}

/* West Yorkshire */
div.area-color-450 {
    background: rgb(6, 65, 126);;
}

/* London */
div.area-color-490 {
    background: rgb(220, 36, 31);
}

/* Cardiff */
div.area-color-571 {
    background: rgb(5, 139, 136);
}

/* Glasgow */
div.area-color-609 {
    background: rgb(255, 98, 0);;
}

/* Edinburgh */
div.area-color-620 {
    background: rgb(118, 19, 21);;
}

/* Trams */
div.area-color-940 {
    background: dimgrey;
}

/* search fields */
form.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    font-size: 1.7rem;
}

form.search-form > div {
    display: flex;
    margin: 0 5px;
}

div.search-label {
    flex: 0 0 120px;

    text-align: right;
}

div.search-label > label {
    width: 100%;
    box-sizing: border-box;
}

div.search-field {
    flex: 0 1 320px;
}

div.search-field > input[type="text"] {
    width: 100%;
    height: 36px;
    padding: 5px 10px;
    box-sizing: border-box;
    background: whitesmoke;
    border: 1px solid whitesmoke;
    /* required as Safari has its own default appearance */
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
}

div.search-field > input[type="text"]:focus {
    border-color: lightgrey;
}

div.search-submit {
    flex: 0 0 36px;
}

div.search-submit > input[type="submit"] {
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    background: darkgrey;
    border: none;
    /* required as Safari has its own default appearance */
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;

    color: white;
}

div.search-submit > input[type="submit"]:hover {
    background: grey;
}

div.search-submit > input[type="submit"]:focus {
    background: midnightblue;
}

div.search-error {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

div.search-error > p {
    margin: 0;

    text-align: center;
    font-size: 1.4rem;
    color: red;
}

/* Responsive container for maps */
div.google-maps-embed {
    position: relative;
    height: 0;
    overflow: hidden;
    /* Height is given by padding-bottom -> 56.25% */
    transition: padding-bottom 0.5s ease-out;
}

div.google-maps-embed > iframe {
    /* Fills up the container */
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.google-maps-js {
    width: 100%;
    height: 0;
    /* Height is given by padding-bottom -> 56.25% */
    transition: padding-bottom 0.5s ease-out;
}