{% extends "base.html" %}
{% import 'functions.html' as f %}
{% set body = 'body-slim' %}

{% block title %}{{ area.name }}{% endblock %}

{% block content %}
<nav>
  <ul class="breadcrumbs breadcrumbs-trailing">
    <li><a href="{{ url_for('page.list_regions') }}">All regions</a></li>
  </ul>
</nav>
<main>
  <h1>{{ area.name }}</h1>
  <section>
    <h2>{{ 'Places' if localities else 'Districts' }}</h2>
    {% if localities|length > 1 -%}
    {%- for name, group in localities|dictsort %}
    <h3 id="{{ name }}">{{ name }}</h3>
    {% call(l) f.print_list(group, 'list-places') -%}
    <a class="item item-place" href="{{ url_for('page.list_in_locality', locality_code=l.code) }}">{{ l.name }}</a>
    {%- endcall %}
    {%- endfor %}
    {% elif localities %}
    {%- for _, group in localities.items() %}
    {% call(l) f.print_list(group, 'list-places') -%}
    <a class="item item-place" href="{{ url_for('page.list_in_locality', locality_code=l.code) }}">{{ l.name }}</a>
    {%- endcall %}
    {%- endfor %}
    {%- elif area.districts -%}
    {% call(d) f.print_list(area.districts, 'list-places') -%}
    <a class="item item-place" href="{{ url_for('page.list_in_district', district_code=d.code) }}">{{ d.name }}</a>
    {%- endcall %}
    {%- else -%}
    <p>No districts or places found.</p>
    {%- endif %}
  </section>
</main>
{% endblock %}
